.courses-slider
    .courses-slider__top
        .courses-slider__title Курсы которые преподает
    .courses-slider__swiper.swiper
        .swiper-wrapper
            -
                var data = [
                    {
                        img: '/images/content/index-popular/1.webp',
                        name: 'Системное управление клиникой',
                        txt: '<p style="color:var(--color-red);">Онлайн + внедрение Лучший курс по управлению 2022 года</p><p>Курс–практикум для собственников и управленцев. Управление клиникой на основе трёхконтурной бизнес-модели</p>'
                    },
                    {
                        img: '/images/content/index-popular/2.webp',
                        name: 'Корпоративное обучение',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                    {
                        img: '/images/content/index-popular/3.webp',
                        name: 'Мотивационная консультация <span style="color:var(--color-red);">ТОП-5</span>',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                    {
                        img: '/images/content/index-popular/4.webp',
                        name: 'Открой клинику <span style="color:var(--color-red);">ТОП-5</span>',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                    {
                        img: '/images/content/index-popular/5.webp',
                        name: 'Системное управление маркетингом',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                    {
                        img: '/images/content/index-popular/1.webp',
                        name: 'Системное управление клиникой',
                        txt: '<p style="color:var(--color-red);">Онлайн + внедрение Лучший курс по управлению 2022 года</p><p>Курс–практикум для собственников и управленцев. Управление клиникой на основе трёхконтурной бизнес-модели</p>'
                    },
                    {
                        img: '/images/content/index-popular/2.webp',
                        name: 'Корпоративное обучение',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                    {
                        img: '/images/content/index-popular/3.webp',
                        name: 'Мотивационная консультация <span style="color:var(--color-red);">ТОП-5</span>',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                    {
                        img: '/images/content/index-popular/4.webp',
                        name: 'Открой клинику <span style="color:var(--color-red);">ТОП-5</span>',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                    {
                        img: '/images/content/index-popular/5.webp',
                        name: 'Системное управление маркетингом',
                        txt: '<p>Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза.</p>'
                    },
                ];
            each i in data
                .swiper-slide.courses-slider__slide
                    include ../courses-item/index