.courses-slider{
  &__top{
    @include ui-top;
  }

  &__title{
    @include ui-top-title;
  }

  &__nav{
    @include ui-top-nav;
  }

  &__prev{
    @include ui-arrow2-left;
  }

  &__next{
    @include ui-arrow2-right;
  }

  &__swiper{
    margin-top: 80px;
    @include xlg-block{
      margin-top: 50px;
    }
    @include md-block{
      margin-left: calc(0px - var(--offset));
      margin-right: calc(0px - var(--offset));
      padding-left: var(--offset);
      padding-right: var(--offset);
      margin-top: 40px;
    }
    @include sm-block{
      margin-top: 20px;
    }
  }

  &__slide{
    @include md-block{
      width: 290px;
    }
  }
}