.clients-slider
    .clients-slider__top
        .clients-slider__title Отзывы участников
        .clients-slider__nav
            button(type='button').clients-slider__arr.clients-slider__prev
                <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.979092 7.06633C0.58857 7.45685 0.58857 8.09002 0.979092 8.48054L7.34305 14.8445C7.73358 15.235 8.36674 15.235 8.75727 14.8445C9.14779 14.454 9.14779 13.8208 8.75727 13.4303L3.10041 7.77344L8.75727 2.11658C9.14779 1.72606 9.14779 1.09289 8.75727 0.70237C8.36674 0.311845 7.73358 0.311845 7.34305 0.70237L0.979092 7.06633ZM35.0195 6.77344L1.6862 6.77344V8.77344L35.0195 8.77344V6.77344Z" fill="#FF033E"/>
                </svg>
            button(type='button').clients-slider__arr.clients-slider__next
                <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.979092 7.06633C0.58857 7.45685 0.58857 8.09002 0.979092 8.48054L7.34305 14.8445C7.73358 15.235 8.36674 15.235 8.75727 14.8445C9.14779 14.454 9.14779 13.8208 8.75727 13.4303L3.10041 7.77344L8.75727 2.11658C9.14779 1.72606 9.14779 1.09289 8.75727 0.70237C8.36674 0.311845 7.73358 0.311845 7.34305 0.70237L0.979092 7.06633ZM35.0195 6.77344L1.6862 6.77344V8.77344L35.0195 8.77344V6.77344Z" fill="#FF033E"/>
                </svg>
    .clients-slider__swiper.swiper
        .swiper-wrapper
            -
                var data = [
                    {
                        img: '/images/content/clients-item/1.webp',
                        desc: 'Ведущее деловое издание о здравоохранении.'
                    },
                    {
                        img: '/images/content/clients-item/2.webp',
                        desc: 'Система автоматизации заботы о пациентах, профилактики и медицинского маркетинга'
                    },
                    {
                        img: '/images/content/clients-item/3.webp',
                        desc: 'Самый читаемый врачебный журнал, ведущий комплексный поставщик современных знаний практикующим врачам России'
                    },
                    {
                        img: '/images/content/clients-item/1.webp',
                        desc: 'Ведущее деловое издание о здравоохранении.'
                    },
                    {
                        img: '/images/content/clients-item/2.webp',
                        desc: 'Система автоматизации заботы о пациентах, профилактики и медицинского маркетинга'
                    },
                    {
                        img: '/images/content/clients-item/3.webp',
                        desc: 'Самый читаемый врачебный журнал, ведущий комплексный поставщик современных знаний практикующим врачам России'
                    },

                ];
            each i in data
                .swiper-slide.clients-slider__slide
                    include ../clients-item/index

