.course-invocation
    .course-invocation__img
        img(src="/images/content/course-invocation/img.webp" alt="Дорогой студент!")
    .course-invocation__title.ui-heading-2 Дорогой студент!
    .course-invocation__txt Рада буду видеть вас на курсе «Системное управление клиникой 3.0» С удовольствием предам свои знания по построению эффективной бизнес-модели современной клиники и поделюсь опытом. До встречи!
    form(action='/php/getForm.php' method='post' data-event='submit.openForm').course-invocation__btn
        input(type="hidden" name="name" value="consultation")
        button(type="submit").ui-btn-fill Получить консультацию

