.index-advantages
    .index-advantages__title Почему <br> выбирают нас
    .index-advantages__content
        h3 Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста,
        p Наши проекты отличаются высоким уровнем визуального дизайна, что отмечает международное и российское экспертное жюри. Мы делаем дизайн, которым мы сами гордимся.
    .index-advantages__list
        each i in GLOBALS.advantages
            .index-advantages__item
                .index-advantages__num= i.num
                .index-advantages__txt= i.txt