.course-program2
    .course-program2__title.ui-heading-2 Программа курса
    .course-program2__items
        each i in data
            .course-program2__item
                ul
                    each li in i
                        li= li