a(href="/news/article/").news-item
    span.news-item__img
        span.index-new__content.news-item__content
            span.index-new__top.news-item__top
                span.news-item__date-start.index-new__date
                    span.index-new__date-month Август
                    span.index-new__date-date 17 / 2023
                span.news-item__date-time.index-new__time
                    span.index-new__time-name Начало:
                    span.index-new__time-val 16:00
                    span.index-new__time-zone МСК
        img(src=i alt="Мотивационные курсы сотрудников клиники “Жить здорово”")
    span.news-item__date 13.03.2023
    span.news-item__name Мотивационные курсы сотрудников клиники “Жить здорово”