a(href="/news/article/").news-item
    span.news-item__img
        img(src=i alt="Мотивационные курсы сотрудников клиники “Жить здорово”")
    span.news-item__date 13.03.2023
    span.news-item__name Мотивационные курсы сотрудников клиники “Жить здорово”