.pagination
    span.pagination__arrow.pagination__prev.disabled
        svg(width='17' height='31' viewbox='0 0 17 31' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M16 30L2 15.5L16 1' stroke='#D7D7D7' stroke-width='2')
    .pagination__items
        span.pagination__item.active 1
        a.pagination__item(href='/search/?clear_cache_session=Y&q=%D0%BB%D0%B5%D0%BA%D1%86%D0%B8&how=r&PAGEN_1=2') 2
        a.pagination__item(href='/search/?clear_cache_session=Y&q=%D0%BB%D0%B5%D0%BA%D1%86%D0%B8&how=r&PAGEN_1=3') 3
        a.pagination__item(href='/search/?clear_cache_session=Y&q=%D0%BB%D0%B5%D0%BA%D1%86%D0%B8&how=r&PAGEN_1=4') 4
        a.pagination__item(href='/search/?clear_cache_session=Y&q=%D0%BB%D0%B5%D0%BA%D1%86%D0%B8&how=r&PAGEN_1=5') 5
        a.pagination__item.pagination__item--dots(href='/search/?clear_cache_session=Y&q=%D0%BB%D0%B5%D0%BA%D1%86%D0%B8&how=r&PAGEN_1=7') ...
        a.pagination__item(href='/search/?clear_cache_session=Y&q=%D0%BB%D0%B5%D0%BA%D1%86%D0%B8&how=r&PAGEN_1=9') 9
    a.pagination__arrow.pagination__next(href='/search/?clear_cache_session=Y&q=%D0%BB%D0%B5%D0%BA%D1%86%D0%B8&how=r&PAGEN_1=2')
        svg(width='17' height='31' viewbox='0 0 17 31' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 30L15 15.5L1 1' stroke='#D7D7D7' stroke-width='2')