@use "sass:math";

.index-banner {

  &__slider {
    position: relative;
  }

  &__slide {
    position: relative;
    color: var(--slide-color, var(--color-white));
    @include md-block {
      color: var(--color-black);
    }
  }

  &__img {
    position: relative;
    height: 650px;
    @include lg-block {
      height: 500px;
    }
    @include md-block {
      height: 384px;
    }
    @include sm-block {
      height: 300px;
    }

    picture {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__container {
    position: absolute;
    z-index: 2;
    inset: 0;
    @include md-block {
      position: static;
    }
  }

  &__content {
    height: 100%;
    overflow-y: auto;
    padding:0 0 55px 0;


    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;

    max-width: 70ch;

    @include lg-block{
      padding-bottom: 35px;
      gap: 15px;
    }
    @include md-block {
      padding-bottom: 10px;
    }
    @include sm-block {
      padding-top: 20px;
      gap: 15px;
      padding-bottom: 0;
    }

    h2 {
      @include ui-heading;
      font-size: 44px;
      @include lg-block{
        font-size: 36px;
      }
    }

    a {
      @include ui-btn-border;
      @include sm-block {
        font-size: 16px;
      }
    }

  }

  &__controls {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;

    pointer-events: none;

    @include lg-block{
      bottom: 35px;
      gap: 20px;
    }
    @include md-block {
      bottom: 0;
    }
    @include sm-block {
      justify-content: center;
      top: 250px;
      bottom: initial;
    }
  }

  &__pag {
    width: auto !important;
    pointer-events: all;
    display: flex;
    align-items: center;
    gap: 18px;
    @include lg-block{
        gap: 10px;
    }


    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      background-color: var(--color-grey-bg);
      opacity: 1;
      margin: 0 !important;
      @include lg-block{
        width: 11px;
        height: 11px;
      }

      &-active {
        background-color: var(--color-red);
        width: 20px;
        height: 20px;
        @include lg-block{
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__nav {
    display: flex;
    gap: 8px;
    pointer-events: all;
    @include sm-block {
      display: none;
    }
  }

  &__arr {
    &.swiper-button-disabled {
      @include ui-disabled;
    }
  }

  &__prev {
    @include ui-arrow-left;
    @include lg-block{
      width: 42px;
      height: 42px;

    }
  }

  &__next {
    @include ui-arrow-right;
    @include lg-block{
      width: 42px;
      height: 42px;
    }
  }

}