@use "sass:math";

.index-banner{

  &__slider{
    position: relative;
  }

  &__slide{
    position: relative;

    &.white{
      color: var(--color-white);
    }
  }

  &__img{
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-top: math.percentage(650/1920);
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__container{
    position: absolute;
    z-index: 2;
    inset: 0;
  }

  &__content{
    height: 100%;
    overflow-y: auto;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;

    max-width: 70ch;

    h2{
      @include ui-heading-1;
    }

    a{
      @include ui-btn-border;
    }

  }

  &__controls{
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;

    pointer-events: none;
  }

  &__pag{
    width: auto!important;
    pointer-events: all;
    display: flex;
    align-items: center;
    gap: 18px;


    .swiper-pagination-bullet{
      width: 14px;
      height: 14px;
      background-color: var(--color-grey-bg);
      opacity: 1;
      margin: 0!important;

      &-active{
        background-color: var(--color-red);
        width: 20px;
        height: 20px;
      }
    }
  }

  &__nav{
    display: flex;
    gap: 8px;
    pointer-events: all;
  }

  &__arr{
    &.swiper-button-disabled{
      @include ui-disabled;
    }
  }

  &__prev{
    @include ui-arrow-left;
  }

  &__next{
    @include ui-arrow-right;
  }

}