a(href="/about/reviews/review/").reviews-item
    span.reviews-item__top
        span.reviews-item__img
            <svg width="481" height="335" viewBox="0 0 481 335" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.9453 0C16.0809 0 0.783203 15.2298 0.783203 34.0231V280.664C0.783203 299.457 16.0809 314.687 34.9452 314.687H54.6016V335L91.059 314.687H446.621C465.486 314.687 480.783 299.457 480.783 280.664V34.0231C480.783 15.2298 465.486 0 446.621 0H34.9453ZM2.70796 34.0231C2.70796 16.2975 17.1382 1.92281 34.9453 1.92281H446.621C464.428 1.92281 478.858 16.2975 478.858 34.0231V280.664C478.858 298.389 464.428 312.764 446.621 312.764H90.4881L56.5264 331.449V312.764H34.9452C17.1382 312.764 2.70796 298.389 2.70796 280.664V34.0231Z" fill="#FF033E"/>
            </svg>
            <svg width="386" height="349" viewBox="0 0 386 349" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2872 0C13.1572 0 0.887707 12.215 0.887707 27.2881L0.887695 304.768C0.887695 319.841 13.1571 332.056 28.2872 332.056H44.0525V348.348L73.2929 332.056H358.47C373.6 332.056 385.869 319.841 385.869 304.768V27.2881C385.869 12.215 373.6 0 358.47 0H28.2872ZM2.43145 27.2881C2.43145 13.0713 14.0052 1.54218 28.2872 1.54218H358.47C372.752 1.54218 384.325 13.0713 384.325 27.2881V304.768C384.325 318.985 372.752 330.514 358.47 330.514H72.835L45.5962 345.5V330.514H28.2872C14.0051 330.514 2.43143 318.985 2.43143 304.768L2.43145 27.2881Z" fill="#FF033E"/>
            </svg>
        span.reviews-item__content
            span.reviews-item__desc Мне очень понравился грамотный и ответственный подход Ольги Вячеславовны - врача и руководителя нескольких медицинских центров. То, как она видит дальнейшее развитие нашей клиники, как она провела анализ. Все очень четко и грамотно. Она выделила основные направления в клинике, которые...
            span.reviews-item__link Читать весь отзыв
    span.reviews-item__bottom
        span.reviews-item__left
            span.reviews-item__face
                img(src="/images/content/reviews-item/face.webp" alt="Эллада Гасанова")
        span.reviews-item__right
            span.reviews-item__name Эллада Гасанова
            span.reviews-item__prof.
                Финансовый директор<br>“Fikus Market”