.reviews-item
    .reviews-item__top
        .reviews-item__content
            .reviews-item__desc Мне очень понравился грамотный и ответственный подход Ольги Вячеславовны - врача и руководителя нескольких медицинских центров. То, как она видит дальнейшее развитие нашей клиники, как она провела анализ. Все очень четко и грамотно. Она выделила основные направления в клинике, которые...
            a(href="/reviews/review/").reviews-item__link Читать весь отзыв
    .reviews-item__bottom
        .reviews-item__left
            .reviews-item__img
        .reviews-item__right
            .reviews-item__name
            .reviews-item__prof

