.reviews-item{
  display:grid;
  gap: 20px;

  @include hover{

    svg{
      path{
        fill: var(--color-red3);
      }
    }

    .reviews-item{

      &__content{
        transform: translateX(0) translateY(0);
      }
      &__link{
        color: var(--color-red3);
      }
    }
  }

  &__top{
    position: relative;
    display:grid;
  }

  &__img{
    position: relative;
    z-index: 2;
    pointer-events: none;

    svg{
      display: block;
      path{
        @include tr;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }

  &__content{
    background-color: var(--color-grey-bg);
    border-radius: 32px;
    padding: 20px 40px 20px 40px;

    position: absolute;
    z-index: 1;
    inset: 0 0 20px 0;
    transform: translateX(20px) translateY(20px);
    max-height: calc(100% - 20px);
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @include tr;
  }

  &__link{
    color: var(--color-red);
    text-decoration: underline;
    @include tr;
  }

  &__bottom{
    display:grid;
    grid-template-columns: 116px 1fr;
    gap: 20px;
  }

  &__face{
    display: block;
    border-radius: 50%;
    border: 2px solid var(--color-red);
    position: relative;

    &:before{
      content: '';
      display: block;
      padding-top: 100%;
    }

    img{
      display: block;
      position: absolute;
      inset: 13px;
      border-radius: 50%;
    }
  }

  &__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }

  &__name{
    @include ui-descriptor-24;
  }

}