a(href="/about/portfolio/item/").portfolio-item
    span.portfolio-item__img
        img(src=`/images/content/portfilio-item/${i}.webp` alt="Региональная клиника N")
        span.portfolio-item__logo
            img(src="/images/content/favicon.svg" alt="logo")
    span.portfolio-item__content
        span.portfolio-item__title Региональная клиника N
        span.portfolio-item__desc.
            Инвестиции в проект: 60 тыс.\месяц <br> Рост прибыли клиники 12 млн., рост рентабельности +7% (25%)
        span.portfolio-item__link Подробнее