.course-faq
    if data.title
        .course-faq__title Часто задаваемые вопросы
    .course-faq__items
        each i,x in data.list
            .course-faq__item
                .course-faq__top.course-faq__grid
                    div(data-index="0" + (x + 1)).course-faq__left.course-faq__count
                    .course-faq__right
                        .course-faq__name= i.title
                        button(type='button' data-event='click.courseAccordionToggle').course-faq__btn
                .course-faq__bottom
                    .course-faq__desc.course-faq__grid
                        .course-faq__left
                        .course-faq__right
                            .course-faq__content= i.desc
