.course-faq {

  &__title {
    @include ui-heading-2;
    margin-bottom: 90px;
    @include xlg-block {
      margin-bottom: 55px;
    }
    @include lg-block {
      margin-bottom: 40px;
    }
  }

  &__items {
    border-top: 1px solid var(--color-grey);
  }

  &__item {
    padding: 25px 0;
    border-bottom: 1px solid var(--color-grey);
    position: relative;
    @include sm-block {
      padding: 20px 0;
    }

    &.active {
      .course-faq__bottom {
        height: var(--height);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 40px;
    align-items: center;
    @include xlg-block {
      grid-template-columns: 340px 1fr;
      gap: 20px;
    }
    @include lg-block {
      grid-template-columns: 200px 1fr;
    }
    @include md-block {
      grid-template-columns: 120px 1fr;
    }
    @include sm-block {
      grid-template-columns: 100%;
      gap: 15px;
    }
  }

  &__count {
    &:before {
      content: attr(data-index);
      display: block;
      font-size: 24px;
      font-weight: 800;
      color: var(--color-red);
    }
  }

  &__right {
    position: relative;
    @include sm-block {
      position: static;
    }
  }

  &__name {
    font-size: 24px;
    max-width: 700px;
  }

  &__btn {
    @include ui-plus;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include sm-block {
      top: 16px;
      transform: none;
    }
  }

  &__bottom {
    height: 0;
    overflow: hidden;
    @include tr;
  }

  &__desc {
    padding-top: 20px;
    @include sm-block {
      padding-top: 0;
    }
  }

  &__content {
    max-width: 700px;
    margin-left: 15px;

    ol{
      list-style: decimal;
      font-weight: 500;
      display:grid;
      gap: 15px;
    }
  }
}
