.gifts{
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: var(--offset-bottom);

  &__title{
    @include ui-heading-2;
  }

  &__items{
    margin-top: 55px;
    display:grid;
    gap: 40px;
  }

  &__item{}
}
