.course-basis{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  align-items: center;
  padding: 80px 0;


  &__left{
    display: flex;
    justify-content: center;
  }

  &__right{
    position: relative;
  }

  &__svg{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 573px;
  }

  &__content{
    position: relative;
    z-index: 1;
    font-size: 24px;
  }


}