label.accept
    input(type='checkbox' name='accept' required checked).accept__input
    span.accept__check
        <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6924 1.3171L5.42859 10.6143L0.621582 5.78997L1.32191 5.08713L5.42859 9.20857L13.9921 0.614258L14.6924 1.3171Z" fill="#FF033E"/>
        </svg>
    span.accept__text
        span Даю согласие на обработку&nbsp;
        a(href='/agreement/') Персональных данных

