@use "sass:math";

.index-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  @include xlg-block {
    gap: 20px;
  }
  @include lg-block {
    display: flex;
    overflow-y: auto;

    margin-left: calc(0px - var(--offset));
    margin-right: calc(0px - var(--offset));
    padding-left: var(--offset);
    padding-right: var(--offset);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include sm-block {
    display:grid;
    grid-template-columns: 100%;
    gap: 10px;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__item {
    position: relative;
    color: var(--color-white);
    overflow: hidden;
    @include lg-block{
      flex-shrink: 0;
      width: 371px;
    }

    &:before {
      content: '';
      display: block;
      padding-top: math.percentage(273/480);
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 74.6%);
      mix-blend-mode: darken;
    }

    @include hover {
      .index-courses {
        &__img {
          img {
            transform: scale(1.05);
          }
        }

        &__gift {
          background-color: var(--color-red2);
        }
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 0;
    inset: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }

  &__wrap {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    @include xlg-block {
      padding-bottom: 20px;
      padding-left: 25px;
      padding-right: 25px;
    }
    @include md-block {
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__gift {
    @include ui-btn-fill;
    @include ui-button-txt;

    padding: 6px 20px;
    @include tr;
  }

  &__name {
    @include ui-descriptor-18;
    max-width: 30ch;
    @include md-block {
      font-size: 16px;
    }
  }
}