.course {
  padding-bottom: var(--offset-bottom);

  &__about {
    @include margin-top(13);
  }

  &__advantages {
    @include margin-top(16);
  }

  &__advantages2{
    @include margin-top(26);

    &--nomargin{
      margin: 0;
    }

  }

  &__advantages3{
    @include margin-top(11);
  }

  &__desc {
    @include margin-top(13);
  }

  &__histories {
    @include margin-top(10);
    background-color: var(--color-grey-bg);
    padding: 140px 0;
    @include xlg-block {
      padding: 70px 0;
    }
    @include lg-block {
      padding: 140px 0;
    }
    @include md-block {
      padding: 90px 0;
    }
    @include sm-block {
      padding: 50px 0;
    }

    &--nomt{
      margin-top: 0;
    }

    .container {
      @include lg-block {
        max-width: 844px;
      }
    }
  }

  &__process {
    @include margin-top(13);

    .container {
      @include lg-block {
        max-width: 844px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__program {
    @include margin-top(17);
    background-color: var(--color-grey-bg);
    padding-top: 110px;
    padding-bottom: 160px;
    @include xlg-block {
      padding: 120px 0;
    }
    @include lg-block {
      padding: 90px 0;
    }
    @include sm-block {
      padding: 40px 0;
    }

    &--nobg{
      background-color: transparent;
    }

    &--nomt{
      margin-top: 0;
    }
  }

  &__teachers {
    @include margin-top(13);
  }

  &__tariffs {
    @include margin-top(14);
    scroll-margin: 50px;
  }

  &__guarantees {
    @include margin-top(14);
    background-color: var(--color-grey-bg);
    padding: 100px 0;
    @include xlg-block {
      padding: 90px 0;
    }
    @include lg-block {
      padding: 80px 0;
    }
    @include sm-block {
      padding: 60px 0;
    }
  }

  &__faq {
    @include margin-top(8);
  }

  &__form {
    @include margin-top(10);
  }

  &__info {
    @include margin-top(10);
  }

  &__iframe{
    display: none;
  }

  &__for{
    @include margin-top(15);

    &--grey{
      margin: 0;
      padding: 100px 0;
      background-color: var(--color-grey-bg);
    }
  }

  &__after{
    @include margin-top(9);

  }

  &__teacher{
    @include margin-top(12);
  }

  &__curators{
    @include margin-top(13);
    padding: 120px 0;
    background: var(--color-grey-bg) url(/images/content/bg-grey.svg) left 140px top 120px no-repeat;;
    background-size: 574px 673px;
    @include lg-block{
      padding: 100px 0px;
      background-size: 409px 479px;
      background-position: left 40px top 80px;
    }
    @include md-block{
      padding: 80px 0;
      background-position: left 20px top 80px;
    }
    @include sm-block{
      padding: 60px 0px;
      background-size: 246px 288px;
      background-position: left 30px top 30px;
    }
  }

  &__choose{
    padding-top: 140px;
    padding-bottom: 100px;
    background: url("/images/content/course-choose/bg.webp") 0 0 no-repeat;
    background-size: cover;
    @include lg-block{
      padding: 80px 0;
    }
    @include sm-block{
      padding: 65px 0;
    }

    &--mt{
      @include margin-top(11);
    }
  }

  &__reviews{
    @include margin-top(15);
  }

  &__invocation{
    @include margin-top(15);
    padding-top: 100px;
    padding-bottom: 170px;
    background: var(--color-grey-bg) url("/images/content/bg-grey.svg") right 130px top 30px no-repeat;
    background-size: 574px 673px;
    @include xlg-block{
      padding-bottom: 100px;
    }
    @include lg-block{
      padding: 100px 0;
      background-size: 409px 479px;
      background-position: left 40px top 80px;
    }
    @include md-block{
      background-position: left -80px top 80px;
    }
    @include lg-block{
      padding: 75px 0;
      background-size: 258px 302px;
      background-position: left 10px top 40px;
    }
  }

  &__businesses{
    padding-top: 140px;
    padding-bottom: 110px;
    background: url("/images/content/favicon.svg") right 200px top 55px no-repeat;
    background-size: 368px 431px;
  }

  &__format{
    @include margin-top(12);
  }

  &__training{
    @include margin-top(20);
  }

  &__cert{
    @include margin-top(18);
    background-color: var(--color-grey-bg);
    padding: 145px 0;
  }

  &__authors{
    background-color: var(--color-grey-bg);
  }

  &__schedule{
    @include margin-top(11);
  }

  &__schedule-title{
    text-align: center;
    margin-bottom: 40px;
  }

  &__videos{
    @include margin-top(11);
  }

  &__imgs{
    @include margin-top(7);
  }

  &__result{
    @include margin-top(11);
  }

  &__steps{
    @include margin-top(11);
  }

  &__wrong{
    @include margin-top(7);
    padding: 100px 0;
    background: var(--color-grey-bg);
  }

  &__program2{
    @include margin-top(9);
  }

  &__ul{
    @include margin-top(9);
  }

  &__nums{
    @include margin-top(11);
  }

}
