extends src/core/main

block variables
    - var title = 'Главная'

block content
    main.index
        //-banner
        section.index__section
            include src/components/index-banner/index
        //-courses
        section.index__section.index__courses
            .container
                include src/components/index-courses/index
        //-advantages
        section.index__section.index__advantages
            .container
                include src/components/index-advantages/index
        //-about
        section.index__section.index__about
            .container
                include src/components/index-about/index
        //-popular
        section.index__section.index__popular
            .container
                include src/components/index-popular/index
        //-profile
        section.index__section.index__profile
            .container
                include src/components/index-profile/index
        //-news
        section.index__section.index__news
            .container
                include src/components/index-news/index
        //-video
        section.index__section.index__video
        //-reviews
        section.index__section.index__reviews
        //-partners
        section.index__section.index__partners






