extends src/core/main

block variables
    - var title = 'Главная'

block content
    main.index
        //-banner
        section.index__section
            include src/components/index-banner/index

