.portfolio-detail {
  display: grid;
  grid-template-columns: 1fr 740px;
  gap: 170px;

  &__content {
    display: flex;
    flex-direction: column;

    h6 {
      font-size: 24px;
      font-weight: 400;
    }
     p{
       font-size: 18px;
     }

    br{
      content: '';
      display: block;
      margin: 5px 0;
      line-height: 10px;
    }
  }

  &__img{
    border: 90px solid var(--color-grey-bg);
    border-top-width: 76px;
    border-bottom-width: 76px;
  }
}