.portfolio-detail {
  padding-bottom: var(--offset-bottom);
  display: grid;
  grid-template-columns: 1fr 740px;
  gap: 170px;
  @include xlg-block {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @include ui-chair-grid;

  &__left{
    @include ui-chair-left;
  }

  &__content {
    display: flex;
    flex-direction: column;

    h6 {
      font-size: 24px;
      font-weight: 400;
      @include sm-block{
        font-size: 20px;
      }
    }

    p {
      font-size: 18px;
    }

    br {
      content: '';
      display: block;
      margin: 5px 0;
      line-height: 10px;
    }
  }

  &__img {
    @include ui-chair-img;
  }
}