
<div class="course-workshop">
  <div class="course-workshop__left">
    <div class="course-workshop__img"><img src="/images/content/course-workshop/img.webp" alt="Онлайн-практикум поможет вам"/></div>
  </div>
  <div class="course-workshop__right">
    <div class="course-workshop__title">Онлайн-практикум поможет вам:</div>
    <ul class="course-workshop__ul ui-ul-checkbox">
      <li>Соотнести свои желания и ресурсы</li>
      <li>За короткий срок разобрать особенности медицинского бизнеса</li>
      <li>Узнать, как не потерять время и деньги при открытии клиники</li>
      <li>Подготовить основную документацию для старта</li>
      <li>Сэкономить на услугах консалтинговых агентств</li>
      <li>Получить уникальные, проверенные успешной практикой знания по открытию клиник не только в России, но и за рубежом(СНГ, ОАЭ)</li>
    </ul>
  </div>
</div>