.course-workshop
    .course-workshop__left
        .course-workshop__img
            img(src="/images/content/course-workshop/img.webp" alt="Онлайн-практикум поможет вам")
    .course-workshop__right
        .course-workshop__title Онлайн-практикум поможет вам:
        ul.course-workshop__ul.ui-ul-checkbox
            -
                var data = [
                    'Соотнести свои желания и ресурсы',
                    'За короткий срок разобрать особенности медицинского бизнеса',
                    'Узнать, как не потерять время и деньги при открытии клиники',
                    'Подготовить основную документацию для старта',
                    'Сэкономить на услугах консалтинговых агентств',
                    'Получить уникальные, проверенные успешной практикой знания по открытию клиник не только в России, но и за рубежом(СНГ, ОАЭ)',
                ];
            each i in data
                li= i