.course-workshop{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;


  &__title{
    font-size: 36px;
    margin-bottom: 35px;
  }

  &__left,&__right{
    padding-top: 70px;
    padding-bottom: 140px;
  }

  &__right{
    background: url("/images/content/logo-grey.svg") center top no-repeat;
  }

  &__ul{
    display:grid;
    gap: 25px;
    li{
      padding-left: 75px;
      font-size: 24px;

      &:before{
        width: 34px;
        height: 34px;
      }
    }
  }
}