.course-businesses
    form(action='/php/ajax.php' method='post' data-event='submit.sendForm').course-businesses__form.form
        input(type="hidden" name="eventName" value="MAIN_FORM")
        input(type="hidden" name="messageFields" value="{'name':'Имя','sname':'Фамилия','tel':'Телефон','email':'Email','city':'Город','status':'Статус'}")
        .course-businesses__title.form__title Заполните, пожалуйста, форму и получите главу из книги «Как открыть клинику мечты» в подарок
        .form__fields
            .form__field
                input(type='text' name='title' value='“Мотивационная консультация пациента”' readonly).form__input
            .form__field
                input(type='text' name='name' placeholder='Ваше имя' required).form__input
            .form__field
                input(type='text' name='sname' placeholder='Ваша фамилия' required).form__input
            .form__field
                input(type='email' name='email' placeholder='Эл. почта' required).form__input
            .form__field
                input(type='tel' name='tel' placeholder='Телефон' required).form__input
            .form__field
                input(type='text' name='city' placeholder='Укажите ваш город' required).form__input
            .form__field
                select(name='status' placeholder='Ваш статус' required).form__select
                    option(value='') Ваш статус
                    each i in ['Собственник','Директор','Врач','Главный врач','Инвестор']
                        option(value=i)= i
        .form__accept
            include ../accept/index
        .form__accept
            include ../accept2/index
        button(type='submit').form__submit.course-businesses__btn Отправить
            template
                .form-popup.form
                    .form__ok
                        h3 Спасибо
                        p Ваша заявка принята в обработку. Наши специалисты свяжутся с Вами в ближайшее время.




