.course-program
    .course-program__top
        .course-program__title= data.title
        .course-program__desc= data.desc
    .course-program__content
        -
            var data = data.faq;
        include ../course-faq/index