.reviews-slider {

  &__top {
    @include ui-top;
  }

  &__title {
    @include ui-top-title;
  }

  &__nav {
    @include ui-top-nav;
    @include sm-block{
      display: none;
    }
  }

  &__prev {
    @include ui-arrow2-left;
  }

  &__next {
    @include ui-arrow2-right;
  }

  &__swiper{
    margin-top: 40px;
    margin-right: -20px;
    padding-right: 20px;

    @include lg-block{
      margin-left: calc(0px - var(--offset));
      margin-right: calc(0px - var(--offset));
      padding-left: var(--offset);
      padding-right: var(--offset);
    }
  }

  &__slide{
    max-width: 480px;
    @include lg-block{
      width: 385px;
    }
    @include sm-block{
      width: 307px;
    }
  }


}