.menu {
  background-color: var(--color-red);
  border-radius: 100vmax;
  position: relative;
  padding: 0 20px;
  display: flex;

  @include xlg-block {
    border-radius: 0;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    position: relative;
    flex-grow: 1;
    @include hover {
      .menu__submenu {
        display: block;
      }
    }

  }

  &__link {
    color: var(--color-white);
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;


    &--arrow {
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 3.5px 0 3.5px;
        border-color: currentColor transparent transparent transparent;
        @include tr;
      }
    }

    span {
      @include ui-menu-item;
      white-space: nowrap;
    }
  }

  &__submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 20px;
    min-width: 360px;

    background: #F5F5F5;
    border-radius: 0px 0px 10px 10px;
    padding: 0 20px;
    @include xlg-block {
      left: -20px;
    }
  }

  &__subitem {
    border-bottom: 1px solid var(--color-grey);

    &:last-child {
      border: none;
    }
  }

  &__sublink {
    @include ui-menu-item;
    @include ui-link-black;
    display: block;
    padding: 18px 0;
    white-space: nowrap;
  }
}