form(action='/ajax/ajax.php' method='post' data-event='submit.sendForm').form-call.form
    .form-call__left
        .form-call__img
            img(src="/images/content/form-call/img.webp" alt="Получить программу курса")
    .form-call__right
        .form__title Получить<br>программу курса
        .form__fields
            .form__field
                input(type='text' name='name' placeholder='Ваше имя').form__input
            .form__field
                input(type='tel' name='tel' placeholder='Телефон' required).form__input
            .form__field
                input(type='email' name='email' placeholder='Эл. почта').form__input

        .form__accept
            include ../accept/index
        button(type='submit').form__submit Отправить
        template
            .form-popup.form
                .form__ok
                    h3 Спасибо
                    p Ваша заявка принята в обработку. Наши специалисты свяжутся с Вами в ближайшее время
