a(href="/about/chairs/chair/").chairs-item
    span.chairs-item__img
        img(src=`/images/content/chairs-item/${i}.webp` alt="Кафедра медицинского менеджмента")
        span.chairs-item__logo
            img(src="/images/content/favicon.svg" alt="logo")
    span.chairs-item__content
        span.chairs-item__title Кафедра медицинского менеджмента
        span.chairs-item__desc Программа предназначена для врачей и помогает после обучения увеличить возвратность пациентов в 3 раза. Курс–практикум для собственников и управленцев. Управление клиникой на основе трёхконтурной бизнес-модели
        span.chairs-item__link Подробнее
