extends ../src/core/main

block variables
    - var title = 'Магазин регламентов и книг'

block content
    main.page
        section.page__top
            .container
                .page__bread
                    -
                        var bread = [
                            {
                                href: '/',
                                name: 'Главная'
                            },
                            {
                                name: title
                            },

                        ];
                    include ../src/components/bread/index
                h1.page__title= title
        .page__content
            .catalog
                .catalog__sections
                    //-books
                    section.catalog__section
                        .container
                            -
                                var data = {
                                    title: 'Книги',
                                    list: [
                                        '/images/content/catalog/book1.webp',
                                        '/images/content/catalog/book2.webp',
                                        '/images/content/catalog/book3.webp',
                                        '/images/content/catalog/book1.webp',
                                        '/images/content/catalog/book2.webp',
                                        '/images/content/catalog/book3.webp',
                                        '/images/content/catalog/book1.webp',
                                        '/images/content/catalog/book2.webp',
                                    ]
                                };
                            include ../src/components/catalog-shop/index
                    //-regulations
                    section.catalog__section
                        .container
                            -
                                var data = {
                                    title: 'Новые регламенты',
                                    list: [
                                        '/images/content/catalog/img.webp',
                                        '/images/content/catalog/img.webp',
                                        '/images/content/catalog/img.webp',
                                        '/images/content/catalog/img.webp',
                                        '/images/content/catalog/img.webp',
                                        '/images/content/catalog/img.webp',
                                        '/images/content/catalog/img.webp',
                                        '/images/content/catalog/img.webp',
                                    ]
                                };
                            include ../src/components/catalog-shop/index
                //-video
                section.catalog__video
                    .container
                        -
                            var data = {
                                top: true,
                                broadcasts: {
                                    link: 'Смотреть все эфиры',
                                    list: [
                                        {
                                            img: '/images/content/video-broadcasts/1.webp',
                                        },
                                        {
                                            img: '/images/content/video-broadcasts/2.webp',
                                        },
                                        {
                                            img: '/images/content/video-broadcasts/3.webp',
                                        }
                                    ]
                                },
                                lectures: {
                                    link: 'Смотреть все лекции',
                                    list: [
                                        {
                                            img: '/images/content/video-lectures/1.webp'
                                        },
                                        {
                                            img: '/images/content/video-lectures/2.webp'
                                        },
                                        {
                                            img: '/images/content/video-lectures/3.webp'
                                        }
                                    ]
                                },
                            };
                        include ../src/components/video-list/index

