.form {
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include ui-heading-2;
    margin-bottom: 20px;
    @include sm-block{
      font-size: 28px;
    }
  }

  &__fields {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__field{
    position: relative;
  }

  &__input {
    border-bottom: 1px solid var(--color-grey);
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    @include sm-block{
      font-size: 18px;
      padding: 12px 0;
    }

    &--area {
      padding-top: 45px;
      padding-left: 45px;
      height: 429px;
      border: 1px solid var(--color-grey);
      border-radius: 27px;
      resize: none;
      @include sm-block{
        height: 235px;
        padding-top: 24px;
        padding-left: 40px;
      }
    }
  }

  &__sum{
    border-bottom: 1px solid var(--color-grey);
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
  }

  &__accept {
    margin-top: 30px;
    @include sm-block{
      margin-top: 20px;
    }
  }

  &__submit {
    @include ui-btn-border;
    margin-top: 45px;
    @include sm-block{
      margin-top: 30px;
    }
  }

  &__ok{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 20px;
    @include sm-block{
      font-size: 18px;
    }


    h2,h3{
      @include ui-heading-2;
      @include sm-block{
        font-size: 28px;
      }
    }
  }
}

.form-file{
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid var(--color-grey);
  display: block;
  color: #8C8C8C;
  cursor: pointer;
  @include sm-block{
    font-size: 18px;
  }
  
  &.active{
    color: var(--color-black);
  }
  
  &__input{
    display: none;

    &::placeholder{
      color: #8C8C8C;
    }
  }

  &__fake{
    display: block;
    padding: 20px 0;
    position: relative;
  }

  &__placeholder{
    display: block;
  }


  &__btn{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 15px;

    display: flex;
    align-items: center;
  }
}