extends ../../src/core/main

block variables
    - var title = 'История компании'

block content
    main.page
        section.page__top
            .container
                .page__bread
                    -
                        var bread = [
                            {
                                href: '/',
                                name: 'Главная'
                            },
                            {
                                href: '/about/',
                                name: 'О нас'
                            },
                            {
                                name: title
                            },

                        ];
                    include ../../src/components/bread/index
                h1.page__title= title
        .page__content
            .container
                .history
                    .history__content
                        .content
                            h2 Как создавался Медицинский корпоративный университет?
                            p.
                                Всё началось с распространённой ситуации, в которой оказывался среднестатистический врач в 90-е годы и существующей по сей день в России.<br>
                                Многие врачи после окончания медицинского института, работая в государственных медицинских учреждениях, сталкиваются с такими проблемами, как навязанные стандарты, жёсткий тайминг, не позволяющий уделить должное время пациенту, отсутствие сервиса, а как следствие, неудовлетворённость своей профессиональной реализацией. Немаловажным фактором для врача в осознании собственной значимости в обществе является отсутствие соответствующей материальной компенсации его нелёгкого труда.
                    .history__items
                        .history__item
                            .history-item
                                .history-item__top
                                    .history-item__num
                                        img(src="/images/content/history/one.png" alt="1")
                                    .history-item__desc Наша история начиналась с создания собственного медицинского бизнеса Ольгой Вячеславовной Берестовой, врачом акушер-гинекологом, кандидатом медицинских наук.
                                .history-item__center
                                    .history-item__wrap
                                        .history-item__quote.history-item__quote--symbol Нехватка профессиональной свободы привела меня в частнопрактикующие врачи 20 лет назад. Что у меня было на тот момент? Интуиция, смелость, да старенький гараж, который я продала и на вырученные деньги купила физиотерапевтическое оборудование. Надо же чем-то людей лечить!
                                        .history-item__name О.В. Берестова
                                    img(src="/images/content/history/1.png" alt="О.В. Берестова")
                                .history-item__grid
                                    .history-item__left
                                        .content
                                            p Врач государственной поликлиники в 2003 году поняла, что необходимо открыть собственный кабинет. Сначала было нелегко. Приходилось работать и как врач, и как бухгалтер, и как администратор.
                                    .history-item__right
                                        img(src="/images/content/history/4.png" alt="images/content/history/4.png")
                                        .history-item__quote В своем маленьком гинекологическом кабинете я делала все – вела прием, проводила УЗИ, манипуляции. Здесь же брала анализы и…деньги. Вечером неслась в лабораторию за результатами пациентов прошлого приема, забегала в банк – оплатить необходимые платежи, вечером составляла график приема на следующий день и так по кругу.
                        .history__item
                            .history-item
                                .history-item__top
                                    .history-item__num
                                        img(src="/images/content/history/two.png" alt="2")
                                    .history-item__desc Следующим шагом было основание собственного медицинского центра ДНК-клиника, в дальнейшем выросшего в сеть.
                                .history-item__center
                                    .history-item__wrap
                                        .history-item__quote.history-item__quote--symbol Стоп! – сказала я себе. Надолго меня не хватит. Надо выстраивать надежную многофункциональную систему. Каждый должен делать то, что умеет. И хорошо умеет. Так появились врачи, администраторы, бухгалтерия. Так появилась первая клиника
                                        .history-item__name О.В. Берестова
                                    img(src="/images/content/history/2.png" alt="О.В. Берестова")
                                .history-item__content
                                    .content
                                        p Неизменно, врач, задумавший открыть собственную клинику, сталкивается с проблемами с момента самой идеи. С чего начать? Как оптимизировать все процессы, чтобы не потерять время, деньги, не совершить ошибок? Создание своей первой клиники было «пробным шаром», многое делалось интуитивно, на основании фрагментарных знаний, полученных из книг, из чужого опыта.
                                        p Ценой неимоверных усилий, ценой ошибок и рисковых решений, ценой финансовых потерь, клиника заработала. Секрет слаженной работы клиники заключался в создании чёткой и регламентированной структуры, налаженных бизнес-процессов, понятных требований и системы отчётности.
                                        p На сегодняшний день успешно оказывают медицинскую помощь уже три сети: ДНК- клиника, клиника «Забота», «Дипплекс». Это клиники разного формата, ценового диапазона и направленности медицинских услуг, которые входят в ТОП-200 прибыльных клиник по версии делового аналитического журнала VADEMECUM, а О.В. Берестова входит в рейтинг ТОП-100 генеральных директоров России.
                        .history__item
                            .history-item
                                .history-item__top
                                    .history-item__num
                                        img(src="/images/content/history/three.png" alt="3")
                                    .history-item__desc Для обучения собственных сотрудников был создан сначала Учебный центр, который в 2020 году вырос в Медицинский Корпоративный университет.
                                .history-item__grid
                                    .history-item__left
                                        .content
                                            p Трёхконтурная модель управления клиникой, которую разработала и внедрила в свои клиники Ольга Берестова позволила ей уйти от операционной деятельности в управлении, масштабировать бизнес, делегировать полномочия наёмным сотрудникам и открыть Медицинский Корпоративный Университет.
                                    .history-item__right
                                        img(src="/images/content/history/3.png" alt="images/content/history/3.png")
                                        .history-item__wrap
                                            .history-item__quote.history-item__quote--symbol.
                                                О чем я жалею до сих пор?<br>
                                                О том, что я делала все сама, что называется «методом тыка», набивала шишки, падала и вставала. Теряла время и деньги. Какое счастье, если бы рядом было надежное плечо друга, был наставник, который не дал бы свернуть с пути. Наверное, поэтому я с радостью помогаю собственникам клиник, делюсь опытом, документами, решениями. А как по-другому? Мы же из одного теста…
                                            .history-item__name О.В. Берестова
                    .history__info
                            include ../../src/components/course-info/index