.index-about
    a(href="https://www.youtube.com/watch?v=lyh2kAjcmSY" data-fancybox="index-about").index-about__video.index-about__item
        span.index-about__img.index-about__video-img
            img(src="/images/content/index-about/1.webp" alt="video")
        span.index-about__video-logo
            img(src="/images/content/logo-text.svg" alt="logo")
        span.index-about__video-play
    a(href="https://www.youtube.com/watch?v=lyh2kAjcmSY" data-fancybox="index-about").index-about__history.index-about__item
        span.index-about__img
            img(src="/images/content/index-about/2.webp" alt="Видео")
        span.index-about__history-wrap
            span.index-about__history-stick Видео
            span.index-about__history-content
                span.index-about__history-title Об университете за 2 минуты
                span.index-about__history-txt Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста,
            span.index-about__history-links
                span.index-about__history-link Смотреть видео
                span.index-about__history-link История Компании
