.course-format
    .course-format__left
        .course-format__title.ui-heading-2 Формат обучения
        .course-format__list.course-process__list
            div(data-index='01').course-process__item Онлайн, индивидуальный бизнес-куратор
            div(data-index='02').course-process__item Полный курс с практическими заданиями, «живые» мастер-классы с топовыми экспертами
            div(data-index='03').course-process__item Сертификат об окончании курса
    .course-format__right
        .course-format__img
            img(src="/images/content/course-format/img.webp" alt="lorem")