.teachers-slider {

  &__top {
    @include ui-top;
  }

  &__title{
    @include ui-top-title;
    margin-right: auto;
  }

  &__link{
    @include ui-top-link;
  }

  &__nav {
    @include ui-top-nav;
  }

  &__prev {
    @include ui-arrow2-left;
  }

  &__next {
    @include ui-arrow2-right;
  }

  &__swiper {
    margin-top: 40px;
    margin-left: calc(0px - var(--offset, 192px));
    padding-left: var(--offset, 192px);
    margin-right: calc(0px - var(--offset, 192px));
    padding-right: 40px;
  }

  &__slide {
    width: 350px;
  }
}