.course-about
    .course-about__left
        .course-about__img
            img(src="/images/content/course-about/img.webp" alt="Уникальный практический курс по построению системы в клинике")
    .course-about__right
        .course-about__desc Уникальный практический курс по построению системы в клинике от эксперта-практика с 25-летним опытом в медицинском бизнесе, от частного кабинета до ТОП-117 клиник России.
        .course-about__label Вас ждут:
        ul.course-about__ul
            li.course-about__li Интенсивная обучающая программа
            li.course-about__li Персональные консультации по разбору вашего запроса от ТОП-эксперта
            li.course-about__li Нетворкинг и профессиональное сообщество