.course-about
    .course-about__left
        .course-about__img
            img(src="/images/content/course-about/img.webp" alt="Уникальный практический курс по построению системы в клинике")
    .course-about__right
        .course-about__content
            p Уникальный практический курс по построению системы в клинике от эксперта-практика с 25-летним опытом в медицинском бизнесе, от частного кабинета до ТОП-117 клиник России.
            h4 Вас ждут:
            ul
                li Интенсивная обучающая программа
                li Персональные консультации по разбору вашего запроса от ТОП-эксперта
                li Нетворкинг и профессиональное сообщество