.portfolio-slider {
  &__top {
    @include ui-top;
  }

  &__title {
    @include ui-top-title;
  }

  &__link {
    @include ui-top-link;
  }

  &__swiper {
    margin-top: 50px;
    @include md-block {
      margin-left: calc(0px - var(--offset));
      margin-right: calc(0px - var(--offset));
      padding-left: var(--offset);
      padding-right: var(--offset);
    }
    @include sm-block {
      margin-top: 30px;
    }
  }

  &__slide {
    max-width: 480px;
    @include md-block {
      width: 293px;
    }

  }
}