.form-popup {
  width: 100%;
  max-width: 680px;
  border-radius: 30px;
  padding: 65px 40px;
  @include sm-block {
    padding: 50px 10px 35px 10px;
    border-radius: 19px;
  }

  .fancybox-button {
    padding: 0;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 40px;
    @include sm-block {
      right: 20px;
    }

  }
}