
<div class="course-choose">
  <div class="course-choose__title">Почему управленцы выбирают Медицинский корпоративный университет</div>
  <ul class="course-choose__list">
    <li>Гарантируем увеличение прибыли</li>
    <li>Не только даем теорию, но и помогаем внедрять эффективную бизнес-модель</li>
    <li>Используем только проверенные запатентованные методики</li>
    <li>Имеем в штате кураторов бизнес-практиков</li>
    <li>Формализуем знания в документы — стандарты и регламенты</li>
    <li>Издаем книги</li>
    <li>Обучаем собственников и сотрудников всех категорий</li>
    <li>Имеем образовательную лицензию</li>
  </ul>
  <div class="course-choose__img"><img src="/images/content/course-choose/img.webp" alt="lorem"/></div>
</div>