.course-choose
    .course-choose__title Почему управленцы выбирают Медицинский корпоративный университет
    ul.course-choose__list
        -
            var data = [
                'Гарантируем увеличение прибыли',
                'Не только даем теорию, но и помогаем внедрять эффективную бизнес-модель',
                'Используем только проверенные запатентованные методики',
                'Имеем в штате кураторов бизнес-практиков',
                'Формализуем знания в документы — стандарты и регламенты',
                'Издаем книги',
                'Обучаем собственников и сотрудников всех категорий',
                'Имеем образовательную лицензию',
            ];
        each i in data
            li= i
    .course-choose__img
        img(src="/images/content/course-choose/img.webp" alt="lorem")


