.chair {
  padding-bottom: 0;

  &__main {
    @include margin-bottom(15);
  }

  &__grid {
    @include ui-chair-grid;
  }

  &__left {
    @include ui-chair-left;
  }

  &__top {
    font-size: 24px;
    display: grid;
    gap: 20px;
    @include sm-block {
      font-size: 20px;
    }
  }

  &__bottom {
    @include ui-descriptor-18;
    display: grid;
    gap: 10px;
    margin-top: 40px;
    @include sm-block {
      font-size: 16px;
      margin-top: 30px;
    }
  }

  &__img {
    @include ui-chair-img;
  }


  &__teachers {
    @include margin-bottom(12);
  }

  &__courses {
    padding: 120px 0;
    background-color: var(--color-grey-bg);
    @include lg-block {
      padding: 100px 0;
    }
    @include md-block {
      padding: 70px 0;
    }
    @include sm-block {
      padding: 60px 0;
    }
  }
}