.course-info
    .course-info__img
        img(src="/images/content/course-info/img.svg" alt="Полезная информация для вашего бизнеса в телеграмм")
    .course-info__content
        .course-info__title Полезная информация для вашего бизнеса в телеграмм
        a(href="https://t.me/telegram").course-info__link Перейти в телеграм