.banner-advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 45px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  color: var(--color-black);

  border: 1px solid var(--color-white);

  &__item{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__num {
    @include ui-numbers-2;
    color: var(--color-red);
    white-space: nowrap;
  }

  &__txt {
    @include ui-descriptor-20;
    max-width: 280px;
  }
}