.product-tabs
    .container
        .product-tabs__list
            .product-tabs__item
                input(type='radio' name='tabs' id='tab1' checked).product-tabs__input
                label(for='tab1').product-tabs__btn О книге
                .product-tabs__tab
                    .product-tabs__content.content
                        h3 Книги «Правила врачебного приема» и «Мотивационная консультация пациента»
                        p Перед Вами авторская методика мотивационной консультации и монетизации врачебных знаний как одного из ключевых факторов личного успеха. Методика проверена на опыте нескольких сотен врачей и показала отличные результаты! Реализация программ лечения и операций в клиниках показывает рост в два раза, возвратность пациентов — в три раза, а доходы врачей — в три с половиной раза!
                        p В книгах также собраны лучшие психологические и деловые практики, обобщенные врачебным опытом автора и опытом руководства крупной сетевой клиники, опытом деловых переговоров с партнерами по бизнесу. Автор книги провела исследования и получила ошеломляющие результаты! Все методики работают! Проверено на опыте более 100 докторов!
                        img(src="/images/content/product/img1.webp" alt="lorem")
                        p Перед Вами авторская методика мотивационной консультации и монетизации врачебных знаний как одного из ключевых факторов личного успеха. Методика проверена на опыте нескольких сотен врачей и показала отличные результаты! Реализация программ лечения и операций в клиниках показывает рост в два раза, возвратность пациентов — в три раза, а доходы врачей — в три с половиной раза!
                        p В книгах также собраны лучшие психологические и деловые практики, обобщенные врачебным опытом автора и опытом руководства крупной сетевой клиники, опытом деловых переговоров с партнерами по бизнесу. Автор книги провела исследования и получила ошеломляющие результаты! Все методики работают! Проверено на опыте более 100 докторов!
                        img(src="/images/content/product/img2.webp" alt="lorem" style='float: left; margin-top: 0; margin-right: 40px;')
                        p Перед Вами авторская методика мотивационной консультации и монетизации врачебных знаний как одного из ключевых факторов личного успеха. Методика проверена на опыте нескольких сотен врачей и показала отличные результаты! Реализация программ лечения и операций в клиниках показывает рост в два раза, возвратность пациентов — в три раза, а доходы врачей — в три с половиной раза!
                        p В книгах также собраны лучшие психологические и деловые практики, обобщенные врачебным опытом автора и опытом руководства крупной сетевой клиники, опытом деловых переговоров с партнерами по бизнесу. Автор книги провела исследования и получила ошеломляющие результаты! Все методики работают! Проверено на опыте более 100 докторов!

            .product-tabs__item
                input(type='radio' name='tabs' id='tab2').product-tabs__input
                label(for='tab2').product-tabs__btn Об авторе
                .product-tabs__tab
                    .product-tabs__content.content
                        img(src="/images/content/product/img3.webp" alt="Ольга Вячеславовна Берестова")
                        h3 Ольга Вячеславовна Берестова
                        ul
                            li Генеральный директор ведущего медицинского холдинга, входящего в ТОП-200 многопрофильных клиник России (по версии Vademecum, 2022 г.)
                            li ТОП-100 генеральных директоров России с 2017 г.
                            li Врач акушер-гинеколог, кандидат медицинских наук и свой путь начала с маленького гинекологического кабинета, где работала самостоятельно
                            li Основатель Медицинского корпоративного университета.
                            li Обладатель степени Executive MBA
                            li Автор книг и запатентованных курсов для врачей, администраторов и медицинских управленцев.
                            li В медицинском бизнесе с 2003 года.
            .product-tabs__item
                input(type='radio' name='tabs' id='tab3').product-tabs__input
                label(for='tab3').product-tabs__btn Методы оплаты
                .product-tabs__tab
                    .product-tabs__content.content
                        h3 Книги «Правила врачебного приема» и «Мотивационная консультация пациента»
                        p Перед Вами авторская методика мотивационной консультации и монетизации врачебных знаний как одного из ключевых факторов личного успеха. Методика проверена на опыте нескольких сотен врачей и показала отличные результаты! Реализация программ лечения и операций в клиниках показывает рост в два раза, возвратность пациентов — в три раза, а доходы врачей — в три с половиной раза!
                        p В книгах также собраны лучшие психологические и деловые практики, обобщенные врачебным опытом автора и опытом руководства крупной сетевой клиники, опытом деловых переговоров с партнерами по бизнесу. Автор книги провела исследования и получила ошеломляющие результаты! Все методики работают! Проверено на опыте более 100 докторов!
            .product-tabs__item
                input(type='radio' name='tabs' id='tab4').product-tabs__input
                label(for='tab4').product-tabs__btn Доставка
                .product-tabs__tab
                    .product-tabs__content.content
                        h3 Книги «Правила врачебного приема» и «Мотивационная консультация пациента»
                        p Перед Вами авторская методика мотивационной консультации и монетизации врачебных знаний как одного из ключевых факторов личного успеха. Методика проверена на опыте нескольких сотен врачей и показала отличные результаты! Реализация программ лечения и операций в клиниках показывает рост в два раза, возвратность пациентов — в три раза, а доходы врачей — в три с половиной раза!
                        p В книгах также собраны лучшие психологические и деловые практики, обобщенные врачебным опытом автора и опытом руководства крупной сетевой клиники, опытом деловых переговоров с партнерами по бизнесу. Автор книги провела исследования и получила ошеломляющие результаты! Все методики работают! Проверено на опыте более 100 докторов!
