.course-for
    .course-for__title Кому необходим курс-практикум?
    .course-for__list
        .course-for__item
            .course-for__left
                .course-for__item-title Собственникам клиник с опытом более одного года
                .course-for__item-txt Вы наведете порядок в бизнесе, перестанете «тушить пожары» и перейдете с ручного управления на цифровое.Вы сможете выстроить систему управления клиникой и масштабировать бизнес
            .course-for__right
                .course-for__img
                    img(src="/images/content/course-for/1.webp" alt="lorem")
        .course-for__item
            .course-for__left
                .course-for__item-title Управляющим/директорам клиник со штатом более 25 сотрудников
                .course-for__item-txt Вы освоите эффективную методику управления клиникой, основанную на стандартах и регламентах. Сформируете бизнес-мышление и научитесь видеть зоны роста клиники: как увеличить выручку и снизить издержки
            .course-for__right
                .course-for__img
                    img(src="/images/content/course-for/2.webp" alt="lorem")
        .course-for__item
            .course-for__left
                .course-for__img
                    img(src="/images/content/course-for/3.webp" alt="lorem")
            .course-for__right
                .course-for__item-title Управляющим клиник, площадь которых более 350 кв.м.
                .course-for__item-txt Вы узнаете и сможете повысить эффективность каждого квадратного метра
        .course-for__item
            .course-for__left
                .course-for__img
                    img(src="/images/content/course-for/4.webp" alt="lorem")
            .course-for__right
                .course-for__item-title Управляющим клиник, которые работают по франшизе
                .course-for__item-txt Вы узнаете, как эффективно строить работу в одной из самых прибыльных ниш бизнеса, и уже с первого года в компании сможете вывести ее на прибыль
    form(action='/php/getForm.php' method='post' data-event='submit.openForm').course-for__btn
        input(type="hidden" name="name" value="feedback")
        button(type="submit") Задать вопрос



