extends ../../src/core/main

block variables
    - var title = 'Мошенничество – новая старая чума'

block content
    main.page
        .atricle.page__top
            //-main
            section.article__main
                .container
                    .article__top
                        a(href="/news/").article__back
                            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.0885 16.0001C30.0885 19.5363 28.6838 22.9277 26.1833 25.4282C23.6828 27.9287 20.2914 29.3334 16.7552 29.3334C15.0042 29.3334 13.2704 28.9885 11.6528 28.3185C10.0351 27.6484 8.56523 26.6663 7.32712 25.4282C4.82663 22.9277 3.42188 19.5363 3.42188 16.0001C3.42188 12.4639 4.82663 9.07248 7.32712 6.57199C9.8276 4.07151 13.219 2.66675 16.7552 2.66675C18.5062 2.66675 20.24 3.01162 21.8577 3.68169C23.4753 4.35175 24.9452 5.33388 26.1833 6.57199C27.4214 7.81011 28.4035 9.27996 29.0736 10.8976C29.7437 12.5153 30.0885 14.2491 30.0885 16.0001ZM27.4219 16.0001C27.4219 13.1711 26.2981 10.458 24.2977 8.45761C22.2973 6.45722 19.5842 5.33341 16.7552 5.33341C13.9262 5.33341 11.2131 6.45722 9.21274 8.45761C7.21235 10.458 6.08854 13.1711 6.08854 16.0001C6.08854 18.8291 7.21235 21.5422 9.21274 23.5426C11.2131 25.5429 13.9262 26.6667 16.7552 26.6667C19.5842 26.6667 22.2973 25.5429 24.2977 23.5426C26.2981 21.5422 27.4219 18.8291 27.4219 16.0001ZM21.2885 22.1334L15.1552 16.0001L21.2885 9.86675L19.4219 8.00008L11.4219 16.0001L19.4219 24.0001L21.2885 22.1334Z" fill="#FF033E"/>
                            </svg>
                            span Назад к списку
                        .article__bread
                            -
                                var bread = [
                                    {
                                        href: '/',
                                        name: 'Главная'
                                    },
                                    {
                                        href: '/news/',
                                        name: 'Новости'
                                    },
                                ];
                            include ../../src/components/bread/index

                    .article__title Мошенничество – новая старая чума
                    .article__grid
                        .article__right
                            .article__content.content
                                img(src="/images/content/article/img1.webp" alt="lorem")
                                p(style='color: var(--color-red);') 17 апреля / Новости
                                br
                                p Банки и другие финансовые организации являются объектами критической информационной инфраструктуры, поэтому они должны быть максимально защищены с точки зрения технологий. Умышленные действия (или бездействия) физических или юридических лиц могут нанести материальный (и нематериальный) ущерб. А в данный момент, когда ведутся масштабные кибератаки на финансовые организации, защита становится в разы важнее.
                                p В сложившейся ситуации немаловажным становится использование отечественных средств защиты, как гарантии работоспособности этих систем ввиду независимости от внешних факторов, таких как отключения систем в виду санкций или ухода ряда компаний с российского рынка.
                                p Системы мониторинга, обнаружения, управления уровнем фрода однозначно первая системообразующая база для нормального ведения бизнеса, а в случае с банками первая необходимость.
                                p Необходимо решение, которое может:
                                ul
                                    li дать эффективный набор инструментов управления рисками и контроля мошенничества, включая комплексный сбор данных, обработку полученной информации в реальном времени, построение поведенческих профилей, формирование статистических виджетов и оперативной отчетности.
                                    li эффективно использовать методы машинного обучения (machine learning) для выявления мошеннических операций.
                                    li работать автономно и в онлайн-режиме, предотвращая попытки совершения мошеннических операций с использованием различных каналов.
                                    li одинаково успешно применяться для мониторинга операций, производимых через банкоматы, POS-терминалы, каналы ДБО, системы электронной и мобильной коммерции и т.д.
                                    li производить анализ всех подключенных каналов с использованием единого движка, обеспечивая возможность кросс-канального анализа данных
                                    li предоставить инструменты анализа, проведения расследования и принятия решений по выявленным инцидентам.
                                    li обеспечить средства настройки различных шаблонов реагирования системы в случае выявления подозрительных операций или событий.
                                img(src="/images/content/article/img2.webp" alt="lorem")
                                h3 Оптимальное решение
                                p Система предотвращения мошенничества (СмартВиста Предотвращение мошенничества) - кросс-канальная аналитическая платформа, предназначенная для онлайн мониторинга событий из различных источников с целью выявления атипичного поведения, в том числе подозрительных и мошеннических действий, и своевременного реагирования для снижения рисков
                                p Система предотвращения мошенничества СмартВиста предлагает:
                                ul
                                    li Средства настройки внешних онлайн интерфейсов
                                    li Средства настройки бизнес-правил и схем контроля
                                    li Средства построения поведенческих моделей
                                    li Инструменты построения аналитических моделей с использованием методов машинного обучения
                                    li Средства настройки автоматического исполнения бизнес-процессов
                                    li Средства управления инцидентами
                                    li Средства построения отчетности и визуального анализа данных
                                p Использование решения не только для целей противодействия мошенничеству, но и рисковой оценки операций, включая аутентификацию клиента в 3DS2 и платежи СБП, а также клиентское профилирование для формирования предложений специфичных продуктов и услуг.
                            .article__tags
                                .article__tags-title Теги:
                                .article__tags-list
                                    -
                                        var data = [
                                            'Мотивация',
                                            'Врачи',
                                            'Короновирус',
                                            'ВОЗ',
                                            'Система здравохранения',
                                        ];
                                    each i in data
                                        a(href="/news/").article__tag= i
                        .article__left
                            .article__list
                                .article__list-title Другие новости MCU.Expert
                                .article__list-items
                                    -
                                        var data = [
                                            'СмартВиста День состоится 26 мая',
                                            'Мобильное приложение для инвестирования от MCU.EXPERT внедрено в Севергазбанке',
                                            'Комплект книг "Мотивационная консультация пациента" и "Правила врачебного приема"',
                                        ];
                                    each i in data
                                        a(href="#").article__item
                                            span.article__item-name= i
                                            span.article__item-date 14.12.2022

            //-courses
            section.article__courses
                .container
                    - var nav = true;
                    include ../../src/components/courses-slider/index
        