.catalog-banner
    .catalog-banner__img
        picture
            source(srcset="/images/content/catalog-banner/img-767.webp" media='(max-width: 767.98px)')
            source(srcset="/images/content/catalog-banner/img-1023.webp" media='(max-width: 1023.98px)')
            source(srcset="/images/content/catalog-banner/img-1439.webp" media='(max-width: 1439.98px)')
            source(srcset="/images/content/catalog-banner/img-1919.webp" media='(max-width: 1919.98px)')
            img(src="/images/content/catalog-banner/img.webp" alt='Комплект книг "Мотивационная консультация пациента" и "Правила врачебного приема"')
    .catalog-banner__wrap
        .catalog-banner__stick
            <svg width="155" height="40" viewBox="0 0 155 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M154.75 0H0.75V40H154.75L137.425 20L154.75 0Z" fill="#FF033E"/>
            </svg>
            span АКЦИЯ
        .catalog-banner__content
            p Комплект книг "Мотивационная консультация пациента" и "Правила врачебного приема"
            button Сделать заказ
