.content {

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }


  h1, h2, h3, img {
    margin: 40px 0;
  }

  h1 {
    @include ui-heading-1;
  }

  h2 {
    @include ui-heading-2;
  }

  h3 {
    @include ui-heading-3;
  }

  p, ul {
    margin: 20px 0;
  }

  ul {
    list-style: disc;
    padding-left: 30px;
  }

}