a(href="/about/teachers/teacher/").teachers-item
    span.teachers-item__img
        img(src=i.img alt='Ирина Попова')
    span.teachers-item__name Ирина Попова
    span.teachers-item__desc Управление клиникой на основе трёхконтурной бизнес-модели