.course-reviews
    .course-reviews__title Отзывы слушателей
    .course-reviews__list
        -
            var data = [
                {
                    img: '/images/content/course-reviews/1.webp',
                    name: 'Видеоотзыв Силина Антона Юрьевича'
                },
                {
                    img: '/images/content/course-reviews/2.webp',
                    name: 'Видеоотзыв Кравцова Александра Павловича'
                },
                {
                    img: '/images/content/course-reviews/3.webp',
                    name: 'Видеоотзыв Ахияровой Ольги Николаевны'
                },
                {
                    img: '/images/content/course-reviews/4.webp',
                    name: 'Видеоотзыв Соколовской Анны Павловны'
                },

            ];
        each i in data
            a(href="https://www.youtube.com/watch?v=lyh2kAjcmSY" data-fancybox="course-reviews").course-reviews__item
                span.course-reviews__img
                    span.course-reviews__play
                    img(src=i.img alt=i.name)
                span.course-reviews__content
                    span.course-reviews__svg
                        <svg width="60" height="69" viewBox="0 0 60 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M51.9803 8.18848H49.4056V38.0181C49.4056 38.596 49.369 39.1647 49.3234 39.7334C48.4743 49.7316 40.1658 57.5834 29.9947 57.5834C19.8236 57.5834 11.4421 49.6766 10.6478 39.6233C10.6021 39.0913 10.5747 38.5593 10.5747 38.0181V10.7752H28.6982V23.7821H41.6357V36.8073H28.6982V52.3917H31.2912V39.394H44.2196V21.1954H31.2912V8.18848H8V38.0181C8 38.4951 8 38.9996 8.02739 39.4674C8.74868 51.0341 18.308 60.1885 30.0038 60.1885C41.6996 60.1885 51.2499 51.0341 51.9803 39.4674C52.0077 38.9904 51.9985 38.5042 51.9985 38.0181V8.18848H51.9803Z" fill="#FF033E"/>
                        </svg>
                    span.course-reviews__name= i.name
