.course-schedule
    .container
        .course-schedule__rows
            each i in data.items
                .course-schedule__row
                    .course-schedule__wrap
                        .course-schedule__name= i.name
                        .course-schedule__list
                            each item in i.list
                                .course-schedule__item!=item


