.course-schedule
    -
        var data =[
            {
                name: 'Время обучения по МСК',
                list: [
                    '09:00 - 11:00 <small>группа 1</small>',
                    '19:00 - 21:00 <small>группа 2</small>',
                ]
            },
            {
                name: 'Дата начала курса:',
                list: [
                    'Февраль<br>23 / 2023',
                ]
            },
            {
                name: 'Количество мест:',
                list: [
                    'Осталось<br>10 мест',
                ]
            },
            {
                name: 'Формат курса:',
                list: [
                    'Онлайн обучение<br>+ внедрение',
                ]
            }
        ];
    each i in data
        .course-schedule__row
            .course-schedule__wrap
                .course-schedule__name= i.name
                .course-schedule__list
                    each item in i.list
                        .course-schedule__item!=item


