.course-schedule {
  --margin: 100px;
  background-color: var(--color-grey-bg);
  padding: 65px 0;

  @include xlg-block {
    --margin: 45px;
  }
  @include lg-block {
    --margin: 90px;
    padding: 40px 0;
  }
  @include md-block {
    --margin: 60px;
    margin-top: 55px;
  }


  .container {
    @include md-block {
      --container-padding: 0 40px;
    }
    @include sm-block {
      --container-padding: 0 10px;
    }
  }

  &__rows {
    display: flex;
    justify-content: center;
    margin: 0 calc(0px - var(--margin));

    @include lg-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 0;
      margin: 0;
      border-left: 2px solid #D9D9D9;
    }
    @include sm-block {
      grid-template-columns: 100%;
      gap: 30px;
      margin: 0;
      border-left: none;
    }
  }

  &__row {
    //flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-right: 2px solid #D9D9D9;
    padding: 15px var(--margin);
    @include lg-block {
      align-items: center;
      padding: 15px;
    }
    @include sm-block {
      border: none;
      align-items: start;
      padding: 0 50px;
    }

    &:last-child {
      border-color: transparent;
    }

    &:nth-child(1),
    &:nth-child(4) {
      display: none;
    }

  }

  &__name {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 15px;
  }

  &__item {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-red);
    line-height: 1.2;

    display: flex;
    align-items: center;
    gap: 18px;

    small {
      font-size: 12px;
      color: var(--color-black);
      text-transform: uppercase;
    }
  }
}