extends ../src/core/main

block variables
    - var title = 'Подарки'

block content
    main.page
        section.page__top
            .container
                .page__bread
                    -
                        var bread = [
                            {
                                href: '/',
                                name: 'Главная'
                            },
                            {
                                name: title
                            },

                        ];
                    include ../src/components/bread/index
                h1.page__title= title
                .page__desc Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, Курс–практикум для собственников и управленцев. Управление клиникой на основе трёхконтурной бизнес-модели Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста.
        .page__content
            .container
                .gifts
                    .gifts__title Подарочные курсы
                    .gifts__items
                        each i in [1,2,3]
                            .gifts__item
                                include ../src/components/gift/index
