.consulting {
  padding-bottom: var(--offset-bottom);

  &__sevices {
    @include margin-top(10);
  }

  &__advantages {
    @include margin-top(13);
    padding: 120px 0;
    background-color: var(--color-grey-bg);
    @include xlg-block {
      padding: 100px 0;
    }
    @include lg-block {
      padding: 80px 0;
    }
    @include md-block {
      padding: 60px 0;
    }
    @include sm-block {
      padding: 50px 0;
    }
  }

  &__portfolio {
    @include margin-top(16);
  }

  &__teachers {
    @include margin-top(14);
  }

  &__form {
    @include margin-top(10);
  }
}
