extends ../../src/core/main

block variables
    - var title = 'Преподаватели'

block content
    main.page
        section.page__top
            .container
                .page__bread
                    -
                        var bread = [
                            {
                                href: '/',
                                name: 'Главная'
                            },
                            {
                                href: '/about/',
                                name: 'О нас'
                            },
                            {
                                name: title
                            },

                        ];
                    include ../../src/components/bread/index
                h1.page__title= title
        .page__content
            .teachers
                section.teachers__items
                    .container
                        -
                            var data = [
                                {
                                    img: '/images/content/teachers-item/1.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/2.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/3.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/4.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/1.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/2.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/3.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/4.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/1.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/2.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/3.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/4.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/1.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/2.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/3.webp'
                                },
                                {
                                    img: '/images/content/teachers-item/4.webp'
                                },

                            ];
                        include ../../src/components/teachers-items/index
        