.about{
  padding-bottom: var(--offset-bottom);

  &__teachers{
    margin-top: 100px;
  }

  &__chairs{
    margin-top: 100px;
    background-color: var(--color-grey-bg);
    padding: 120px 0;
  }

  &__licenses{
    margin-top: 130px;
  }

  &__portfolio{
    margin-top: 130px;
    padding: 120px 0;
    background-color: var(--color-grey-bg);
  }

  &__reviews{
    margin-top: 130px;
  }

  &__clients{
    margin-top: 100px;
  }
}