.chairs-slider {

  &__top {
    @include ui-top;
    margin-bottom: 50px;
    @include lg-block{
      margin-bottom: 40px;
    }
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__title {
    @include ui-top-title;
  }

  &__link {
    @include ui-top-link;
  }

  &__swiper{
    @include md-block{
      margin-left: calc(0px - var(--offset));
      margin-right: calc(0px - var(--offset));
      padding-left: var(--offset);
      padding-right: var(--offset);
    }
  }

  &__slide {
    max-width: 480px;
    box-sizing: border-box;
    height: auto;

    @include lg-block{
      width: 293px;
    }

    a {
      height: 100%;
    }
  }
}