div(class=data.dopClass).course-after
    .container
        .course-after__title= data.title
        if data.list
            ul.course-after__list
                each i in data.list
                    li(class=itemDopClass).course-after__li= i
        if data.lists
            .course-after__lists
                each list in  data.lists
                    ul.course-after__list
                        each i in list
                            li(class=data.itemDopClass).course-after__li= i



