
<div class="course-after">
  <div class="container">
    <div class="course-after__title"></div>
    <ul class="course-after__list">
      <li class="course-after__li">Выстроить организационную структуру компании, формализовать ответственность сотрудников, разработать систему мотивации на результат</li>
      <li class="course-after__li">Навести порядок в клинике за счет внедрения стандартов и регламентов, а также перехода на процессное управление</li>
      <li class="course-after__li">Построить эффективную систему продаж и сервиса, что позволит успешно конкурировать и выгодно выделяться на фоне других клиник</li>
      <li class="course-after__li">Ставить задачи маркетологу «на результат», формировать внешний и внутренний трафик пациентов, обеспечивать полную загрузку клиники пациентами</li>
      <li class="course-after__li">Планировать доходы и расходы компании, «программировать» прибыль и управлять показателями развития</li>
    </ul>
  </div>
</div>