.course-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  @include xlg-block {
    gap: 20px;
  }
  @include sm-block {
    grid-template-columns: 100%;
    gap: 10px;
  }
}