.course-on
    .container
        .course-on__grid
            .course-on__left
                .course-on__title.ui-heading-2 Что вы получите на курсе:
                ul.course-on__ul.ui-ul-checkbox
                    -
                        var data = [
                            'Разработаете бизнес - концепцию вашей клиники',
                            'Рассчитаете финансовую модель бизнеса',
                            'Сформируете обязательный пакет документов',
                            'Подробно разберете брендинг и позиционирование клиники',
                            'Определитесь с организационной структурой и наймом персонала',
                            'Сформируете эффективную систему управления клиникой',
                            'Разберете, как составить регламенты, стандарты и должностные инструкции',
                            'Узнаете, как открыть клинику за рубежом: в СНГ и ОАЭ',
                        ];
                    each i in data
                        li= i
            .course-on__right
                .course-on__img
                    img(src="/images/content/course-on/img.webp" alt="Что вы получите на курсе")