extends ../../src/core/main

block variables
    - var title = 'Каталог книг'

block content
    main.page
        section.page__top
            .container
                .page__bread
                    -
                        var bread = [
                            {
                                href: '/',
                                name: 'Главная'
                            },
                            {
                                href: '/shop/',
                                name: 'Магазин регламентов и книг'
                            },

                            {
                                name: title
                            },

                        ];
                    include ../../src/components/bread/index
                h1.page__title= title
        .page__content
            .catalog
                .container
                    section.catalog__grid
                        .catalog__left
                            .catalog__menu
                                a(href="/shop/reglaments/") Раздел регламентов 1
                                a(href="/shop/reglaments/") Раздел регламентов 2
                                a(href="/shop/reglaments/") Раздел регламентов 3
                                a(href="/shop/reglaments/") Раздел регламентов 4
                                a(href="/shop/reglaments/") Раздел регламентов 5
                                a(href="/shop/reglaments/") Раздел регламентов 6
                        .catalog__right
                            .catalog__banner
                                include ../../src/components/catalog-banner/index
                            -
                                var data = [
                                    '/images/content/catalog/book1.webp',
                                    '/images/content/catalog/book2.webp',
                                    '/images/content/catalog/book3.webp',
                                    '/images/content/catalog/book1.webp',
                                    '/images/content/catalog/book2.webp',
                                    '/images/content/catalog/book3.webp',
                                    '/images/content/catalog/book1.webp',
                                    '/images/content/catalog/book2.webp',
                                    '/images/content/catalog/book3.webp',
                                ];
                            .catalog__items
                                each i,x in data
                                    .catalog__item
                                        include ../../src/components/catalog-item/index
                            .catalog__more
                                -
                                    var data = {
                                        target: '.catalog__items',
                                        action: '/php/getCatalogItems.php'
                                    };
                                include ../../src/components/load-more/index

        