extends ../../src/core/main

block variables
    - var title = 'Пример курса 4'

block content
    main.page
        section.page__banner
            -
                var data = {
                    color: '--banner-color: var(--color-white)',
                    img: 'course-4',
                    bread: [
                        {
                            href: '/',
                            name: 'Главная'
                        },
                        {
                            href: '/courses/',
                            name: 'Курсы'
                        },
                        {
                            name: title
                        }
                    ],
                    content: `<h2>Медицинское гостеприимство</h2>
                                <br>
                               <p>Курс-практикум, позволяющий повысить качество сервиса, увеличить возвратность пациентов и улучшить имидж клиники</p>
                            `
                };
            include ../../src/components/banner/index
        .page__content.mt-0
            .course
                //-for
                section.course__for.course__for--grey
                    .container
                        .course-for
                            .course-for__title Для кого курс?
                            .course-for__list.course-for__list--3
                                -
                                    var data = [
                                        {
                                            img: '/images/content/course-for/4-1.webp',
                                            title: 'Для медсестёр коммерческих клиник'
                                        },
                                    ];
                                each i in data
                                    .course-for__item.course-for__item--2
                                        .course-for__left
                                            .course-for__img
                                                img(src=i.img alt=i.title)
                                        .course-for__right
                                            .course-for__item-title= i.title
                //-result
                section.course__result
                    .container
                        .course-result
                            .course-result__title.ui-heading-2 Какой вы получите результат?
                            .course-result__desc Медсестры вашей клиники начнут работать по эффективным стандартам, лояльность клиентов возрастет, увеличится возвратность пациентов в клинику и её прибыль
                //-after
                section.course__after
                    -
                        var data = {
                            title: 'После прохождения курса медсёстры научатся:',
                            list: [
                                'Работать по современным стандартам для среднего медицинского персонала частных клиник',
                                'После прохождения курса медсёстры научатся:',
                                'Выявлять потребности пациента',
                                'Определять состояние пациента и выбирать оптимальную коммуникативную стратегию',
                                'Выполнять медицинские назначения врача по четкому алгоритму, что будет оптимизировать рабочее время и сэкономит время пациента',
                                'Проявлять предупредительность и внимание к пациенту',
                                'Обеспечивать психологический комфорт и безопасность пациента во время выполнения процедуры, снижать его тревожность',
                                'Информировать пациента о профилактических манипуляциях',
                                'Рассказывать пациенту о клинике, особенностях исследования и сроках лечения',
                                'Демонстрировать профессионализм, уважение к пациенту и технологичность процедуры',
                            ]
                        }
                    include ../../src/components/course-after/index
                //-authors
                section.course__authors
                    .container
                        -
                            var data = [
                                {
                                    img: '/images/content/course-authors/3.webp',
                                    prof: 'Автор курса',
                                    name: 'Ольга Андреевна Буренкова',
                                    title: 'ВЕДУЩИЙ БИЗНЕС-ТРЕНЕР ФЕДЕРАЛЬНОГО МЕДИЦИНСКОГО ХОЛДИНГА',
                                    desc: 'Эксперт по повышению прибыльности клиник через повышение квалификации персонала'
                                },
                            ];
                        include ../../src/components/course-authors/index
                //-steps
                section.course__steps
                    .container
                        -
                            var data = [
                                'После оплаты ваши сотрудники получают доступ к курсу из 13 уроков',
                                'По результатам каждого урока они выполняют домашние задания, которые помогут сформировать навыки и освоить тонкости выполнения алгоритма работы',
                                'Домашние задания проверяются куратором, который предоставляет обратную связь',
                                'При возникновении вопросов обучающиеся могут обратиться к куратору и оперативно получить исчерпывающие ответы',
                            ];
                        include ../../src/components/course-steps/index
                //-steps
                section.course__wrong
                    .container
                        include ../../src/components/course-wrong/index

                //-program2
                section.course__program2
                    .container
                        -
                            var data = [
                                [
                                    'Урок 1. В чем нуждается наш пациент ?',
                                    'Урок 2. На какие вопросы важно ответить при разговоре с пациентом ?',
                                    'Урок 3. Три важных составляющих успешного приёма.',
                                    'Урок 4. Инструменты коммуникации медицинской сестры.',
                                    'Урок 5. Коммуникация и активное слушание.',
                                    'Урок 6. Этапы работы медицинской сестры.Первый этап — подготовка.',
                                    'Урок 7. Этапы работы медицинской сестры.Встреча пациента.',
                                ],
                                [
                                    'Урок 8. Этапы работы медицинской сестры.Уточнение назначений и информирование.',
                                    'Урок 9. Этапы работы медицинской сестры.Определение функционального состояния.',
                                    'Урок 10. Этапы работы медицинской сестры.Подготовка к процедуре.',
                                    'Урок 11. Этапы работы медицинской сестры.Проведение процедуры.',
                                    'Урок 12. Этапы работы медицинской сестры. 4 завершающих шага.',
                                    'Урок 13. Этапы работы медицинской сестры.Оценка результатов.Подведение итогов.',
                                ]
                            ];
                        include ../../src/components/course-program2/index
                //-tariffs
                section.course__tariffs
                    .container
                        -
                            var data = {
                                title: 'Стоимость курса',
                                list: [
                                    {
                                        name: 'С КУРАТОРОМ',
                                        ul: [
                                            'Доступ к 13 видеоурокам',
                                            'Доступ к записи курса на 6 месяцев',
                                            'Выполнение домашних заданий',
                                            'Сертификат о прохождении курса',
                                            'Проверка домашних заданий и разбор с куратором',
                                        ],
                                        price: '18 000 руб.'
                                    },
                                ],
                            };
                        include ../../src/components/course-tariffs/index
                //-ul
                section.course__ul
                    .container
                        -
                            var data = [
                                'Мы говорим про системное управление клиникой. То есть даём системные и взаимосвязанные знания, позволяющие видеть бизнес целостно и оценивать причинно-следственные связи между решениями и последствиями в любом звене системы управления.',
                                'Мы даём только те знания, которые проверены практикой. Все эксперты Медицинского корпоративного университета — действующие сотрудники ведущих клиник России и Европы и компаний индустрии здравоохранения.',
                                'Мы обучаем не только собственников, топ-менеджеров клиник, но и линейный персонал: врачей, администраторов, медицинских сестер, что дает возможность всей команде мыслить в одном направлении и достигать поставленных целей.',
                                'Мы даем гарантии эффективности обучения и внедрения нашей системы управления: сравниваем исходные данные по ключевым показателям эффективности с теми, которых удается достичь после обучения, оцениваем соответствие поставленным целям.',
                            ];
                        include ../../src/components/course-ul/index
                //-nums
                section.course__nums
                    .container
                        -
                            var data = [
                                {
                                  val: '10+',
                                  name: 'практических курсов',
                                },
                                {
                                  val: '300+',
                                  name: 'клиентов',
                                },
                                {
                                  val: '10+',
                                  name: 'лет обучаем эффективному менеджменту в медицине',
                                },
                            ];
                        include ../../src/components/course-nums/index

                //-form
                section.course__form
                    .container
                        include ../../src/components/form-call/index
                //-info
                section.course__info
                    .container
                        include ../../src/components/course-info/index











        