extends ../../src/core/main

block variables
    - var title = 'Пример курса 5'

block content
    main.page
        section.page__banner
            -
                var data = {
                    color: '--banner-color: var(--color-white)',
                    img: 'course-5',
                    bread: [
                        {
                            href: '/',
                            name: 'Главная'
                        },
                        {
                            href: '/courses/',
                            name: 'Курсы'
                        },
                        {
                            name: title
                        }
                    ],
                    content: `<h2>WOW-СЕРВИС, WOW-ПРОДАЖИ</h2>
                                <br>
                               <p>Очный тренинг для администраторов, менеджеров и кураторов лечения, после которого продажи вырастают на 30% <b>23 июля в 10:00</b></p>
                            `
                };
            include ../../src/components/banner/index
        .page__content.mt-0
            .course
                //-after
                section.course__after.mt-0
                    -
                        var data = {
                            title: 'После прохождения курса медсёстры научатся:',
                            list: [
                                'Научитесь правильно вести телефонные переговоры с пациентом',
                                'Узнаете, как встречать и сопровождать пациента с использованием приемов психологической поддержки и современных норм сервиса',
                                'Повысите свой уровень профессионализма, станете востребованным специалистом',
                                'Изучите основы продаж, чтобы легко продавать программы лечения и дополнительные услуги',
                                'Взрастите внутренний профессиональный стержень, который поможет в самых нестандартных ситуациях',
                                'Научитесь психологическому воздействию и невербальному общению',
                            ]
                        }
                    include ../../src/components/course-after/index
                //-program
                section.course__program.course__program--nobg.course__program--nomt
                    .container
                        -
                            var data = {
                                title: 'Программа обучения',
                                desc: 'Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, Курс–практикум для собственников и управленцев.',
                                faq: {
                                    title: false,
                                    list: [
                                        {
                                            title: 'Модуль 1',
                                            desc: '<ol>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Роль администратора / менеджера.</span> Разбираем,\n' +
                                                    '                            какую на самом деле роль в компании играет этот\n' +
                                                    '                            сотрудник и насколько его работа влияет на продажи клиники.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Настрой на деловой лад.</span> Чтобы работа приносила\n' +
                                                    '                            удовольствие, руководство хвалило, а менеджер /\n' +
                                                    '                            администратор больше зарабатывал, нужно уметь настраиваться на рабочий день. Будем изучать\n' +
                                                    '                            тайм\n' +
                                                    '                            - менеджмент и специальные практики, благодаря которым вы станете супер продуктивным\n' +
                                                    '                            сотрудником.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Дресс - код успеха.</span> От внешнего вида зависит\n' +
                                                    '                            лояльность пациентов.Чтобы создать вау - эффект,\n' +
                                                    '                            важно знать нюансы, на которые обращают внимание пациенты при общении с сотрудником клиники.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Рабочее место.</span> Как создать рабочую атмосферу и\n' +
                                                    '                            обустроить рабочее место таким образом, чтобы\n' +
                                                    '                            быстро выполнять свои задачи. Даем четкую инструкцию.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Знание продукта.</span> Для повышения продаж важно\n' +
                                                    '                            знать основные компоненты продукта, который\n' +
                                                    '                            продается в клинике. Изучаем что именно нужно знать, чтобы отвечать на самые важные вопросы\n' +
                                                    '                            пациента.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Технологии продаж в клинике.</span> Изучаем\n' +
                                                    '                            инструменты продаж, которые подходят именно медицинскому\n' +
                                                    '                            бизнесу. Объясняем, как выстроить систему, которая поможет продавать легко только то, что\n' +
                                                    '                            приведет пациента к выздоровлению, без навязывания ненужных услуг.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Вербальное и невербальное общение.</span> Вау - сервис\n' +
                                                    '                            – это не только то, как мы выглядим и как мы\n' +
                                                    '                            говорим, это и то, как мы двигаемся. Как подсознательно расположить к себе пациента, как\n' +
                                                    '                            убедить\n' +
                                                    '                            его таким образом, что он сам решит купить вашу услугу. Считываем невербалику пациентов,\n' +
                                                    '                            чтобы\n' +
                                                    '                            понимать, когда он сомневается, когда растерян, когда испытывает тревогу или гнев, чтобы\n' +
                                                    '                            управлять диалогом и вести его в нужном вам ключе.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Установление контакта с пациентом, правила гостеприимства в клинике.</span>\n' +
                                                    '                            Вау - сервис предполагает,\n' +
                                                    '                            что вы предвосхищаете желания пациентов, поэтому очень важно с момента первой встречи\n' +
                                                    '                            произвести\n' +
                                                    '                            хорошее впечатление, что пациент в заботливых руках.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Как устанавливать и поддерживать контакт с пациентами?</span>\n' +
                                                    '                            Подробно разбираем тему и отрабатываем\n' +
                                                    '                            навыки.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Как понять потребности пациента?</span> Потребность –\n' +
                                                    '                            это фактор, который побуждает к покупке.Чтобы\n' +
                                                    '                            определить, что побуждает конкретного пациента покупать, мы выявляем причины, по которым он\n' +
                                                    '                            решается купить или не купить. Это помогает нам продавать больше без навязывания лишнего\n' +
                                                    '                            пациенту. Пациент доволен, что ему помогли сделать правильный выбор.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Какие бывают вопросы.</span> Часто задаваемые вопросы\n' +
                                                    '                            пациентов, которые не должны вводить вас в\n' +
                                                    '                            ступор. Подробно рассматриваем и учимся предвидеть вопросы пациентов.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Выявление потребностей пациента.</span> Разбираем,\n' +
                                                    '                            какие вопросы помогут нам выявить истинные\n' +
                                                    '                            потребности пациента, чтобы помочь ему сделать правильный выбор.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Универсальные потребности.</span> Изучаем\n' +
                                                    '                            универсальные потребности, чтобы понимать, как устроена\n' +
                                                    '                            психология человека и что именно хочет каждый пациент.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li><span style="color:var(--color-red);">Приятная неожиданность.</span> Выполняем креативное\n' +
                                                    '                            задание.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Принципы презентации услуг.</span> Навык грамотной\n' +
                                                    '                            презентации услуг производит на пациента впечатление\n' +
                                                    '                            того, что с ним работают профессионалы. Почему важно уметь правильно презентовать услуги.\n' +
                                                    '                            Изучаем алгоритм презентации.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Работа с возражениями.</span> Для доведения пациента\n' +
                                                    '                            до продажи мы уже умеем выявлять потребности\n' +
                                                    '                            пациента, но работа с возражениями – это высший пилотаж. Даем четкий алгоритм работы с\n' +
                                                    '                            возражениями.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Завершение диалога с пациентом.</span> Правильное\n' +
                                                    '                            завершение диалога - важный навык. Отрабатываем\n' +
                                                    '                            различные варианты того, как оставить благоприятное впечатление, чтобы пациент ушел\n' +
                                                    '                            довольный.\n' +
                                                    '                        </li>\n' +
                                                    '                    </ol>'
                                        },
                                        {
                                            title: 'Модуль 2',
                                            desc: '<ol>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Пять навыков успешного менеджера.</span> Разбираем,\n' +
                                                    '                             Разбираем и прививаем себе самые важные навыки для достижения показателей, которые ставит руководство, и получения морального удовлетворения от своей работы.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Телефонный этикет.</span> Вау-сервис начинается с телефонного разговора с пациентом. Запись пациента в клинику также зависит от правильного телефонного разговора. Изучаем все виды скриптов для общения с разными типами пациентов.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Особенности работы в мессенджерах.</span> Если в клинику нельзя записаться через мессенджер, она теряет 30% пациентов. Сегодня всё меньше людей звонят по телефону, предпочитая переписку в любое удобное для себя время. Изучаем как внедрить и как отладить работу в мессенджерах.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Структура ответа на звонок, запрос в мессенджере.</span> Скрипты работают и в телефонных переговорах, и в переписке через мессенджер. Правильный скрипт повышает конверсию пациентов в запись на прием. Изучаем и внедряем в работу все необходимые скрипты и чек-листы.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Приятная неожиданность.</span> Выполняем креативное задание.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Запись на прием.</span> Как правильно записывать и заполнять расписание, чтобы эффективность работы клиники росла, а не проседала. Как распределять пациентов между приемами и как правильно формировать очередь.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Алгоритм презентации программы.</span> Изучаем, как грамотно презентовать программу лечения, ответить на все вопросы пациента и разъяснить все назначения доктора.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Инструменты убеждающего воздействия.</span> Даём психологические методы воздействия на пациента для достижения своих показателей и результатов, не в ущерб пациенту, а для его выздоровления.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Документы. Просто о сложном.</span> Даем все возможные документы, которые нужно внедрить в клинике для эффективного функционирования бизнеса.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Нестандартные ситуации.</span> Предупрежден – вооружен. Если вы знаете выход из любой ситуации, которая может возникнуть в работе, вы становитесь уверенным профессионалом. Ваша уверенность поможет вам эффективно выполнять свои обязанности и расти по карьерной лестнице.\n' +
                                                    '                        </li>\n' +
                                                    '                        <li>\n' +
                                                    '                            <span style="color:var(--color-red);">Практическая отработка.</span>\n' +
                                                    '                        </li>\n' +
                                                    '                    </ol>'
                                        },
                                    ]
                                }
                            }
                        include ../../src/components/course-program/index
                //-for
                section.course__for.course__for--grey
                    .container
                        .course-for
                            .course-for__title Для кого курс?
                            .course-for__list
                                .course-for__item
                                    .course-for__left
                                        .course-for__item-title Врачам
                                        .course-for__item-txt Кто планирует открыть свою клинику и не знает, с чего начать
                                    .course-for__right
                                        .course-for__img
                                            img(src="/images/content/course-for/2-1.webp" alt="lorem")
                                .course-for__item
                                    .course-for__left
                                        .course-for__item-title Инвесторам
                                        .course-for__item-txt Кто планиурет открытие клиник за пределами России, в том числе в ОАЭ
                                    .course-for__right
                                        .course-for__img
                                            img(src="/images/content/course-for/2-2.webp" alt="lorem")
                                .course-for__item
                                    .course-for__left
                                        .course-for__img
                                            img(src="/images/content/course-for/2-3.webp" alt="lorem")
                                    .course-for__right
                                        .course-for__item-title Главным врачам
                                        .course-for__item-txt Кто имеет опыт организации работы клиники и хочет большего
                                .course-for__item
                                    .course-for__left
                                        .course-for__img
                                            img(src="/images/content/course-for/2-4.webp" alt="lorem")
                                    .course-for__right
                                        .course-for__item-title Управляющим
                                        .course-for__item-txt Кто настроен в короткие сроки вывести новую клинику в зону прибыли
                            form(action='/php/getForm.php' method='post' data-event='submit.openForm').course-for__btn
                                input(type="hidden" name="name" value="feedback")
                                button(type="submit") Задать вопрос


                //-businesses
                section.course__businesses
                    .container
                        .course-businesses
                            form(action='/ajax/ajax.php' method='post' data-event='submit.sendForm').course-businesses__form.form
                                input(type="hidden" name="eventName" value="MAIN_FORM")
                                input(type="hidden" name="messageFields" value="{'name':'Имя','sname':'Фамилия','tel':'Телефон','email':'Email','city':'Город','clinic':'Клиника'}")
                                .course-businesses__title.form__title Оставьте заявку
                                .form__fields
                                    .form__field
                                        input(type='text' name='name' placeholder='Ваше имя' required).form__input
                                    .form__field
                                        input(type='tel' name='tel' placeholder='Телефон' required).form__input
                                    .form__field
                                        input(type='email' name='email' placeholder='Эл. почта' required).form__input
                                    .form__field
                                        input(type='text' name='city' placeholder='Город').form__input
                                    .form__field
                                        input(type='text' name='clinic' placeholder='Клиника').form__input
                                .form__accept
                                    include ../../src/components/accept/index
                                .form__accept
                                    include ../../src/components/accept2/index
                                button(type='submit').form__submit.course-businesses__btn Отправить
                                    template
                                        .form-popup.form
                                            .form__ok
                                                h3 Спасибо
                                                p Ваша заявка принята в обработку. Наши специалисты свяжутся с Вами в ближайшее время.

                //-advantages3
                section.course__advantages3
                    .container
                        include ../../src/components/course-advantages3/index
                //-after
                section.course__after
                    -
                        var data = {
                            title: 'Уже в процессе обучения администраторы/менеджеры:',
                            list: [
                                'Научатся эффективно взаимодействовать с пациентами, выявлять их потребности, снимать возражения',
                                'Отработают и начнут применять технологию презентации медицинских услуг, обращаясь к ценностям пациента',
                                'Научатся работать в нестандартных ситуациях',
                                'Увеличат конверсию в запись на прием при обзвоне пациентов по назначениям врача на 20%',
                                'Смогут повысить личные продажи на 30% уже после первого месяца обучения',
                                'Отработают все аспекты, связанные с юридическим оформлением документов',
                            ]
                        }
                    include ../../src/components/course-after/index

                //-advantages2
                section.course__advantages2.course__advantages2--nomargin
                    .course-advantages2.course-advantages2--nobg
                        .container
                            .course-advantages2__content
                                .course-advantages2__title Формат тренинга
                                .course-advantages2__list
                                    -
                                        var data = [
                                            {
                                                img: '/images/content/course-advantages2/2-1.svg',
                                                name: '250 часов теории и практики'
                                            },
                                            {
                                                img: '/images/content/course-advantages2/2-2.svg',
                                                name: 'Примеры документов и таблиц'
                                            },
                                            {
                                                img: '/images/content/course-advantages2/2-3.svg',
                                                name: 'Практическая отработка навыков коммуникации и вовлечения'
                                            },
                                            {
                                                img: '/images/content/course-advantages2/2-4.svg',
                                                name: 'Кофе-паузы'
                                            },
                                            {
                                                img: '/images/content/course-advantages2/2-5.svg',
                                                name: 'Раздаточныйматериал'
                                            },
                                            {
                                                img: '/images/content/course-advantages2/2-6.svg',
                                                name: 'Сертификат'
                                            }
                                        ];
                                    each i in data
                                        .course-advantages2__item
                                            .course-advantages2__item-img
                                                img(src=i.img alt=i.name)
                                            .course-advantages2__item-name= i.name


                //-after
                section.course__after.course__after--mt
                    -
                        var data = {
                            dopClass: 'course-after--full course-after--decimal',
                            title: 'Пакет электронных документов:',
                            itemDopClass: 'small',
                            listsDopClass: 'counter',
                            listDopClass: 'decimal',
                            lists: [
                                [
                                    'Рабочая тетрадь Модуль 1',
                                    'Алгоритм работы с возражениями',
                                    'Настрой дня менеджера',
                                    'Чек - лист внешнего вида',
                                    'Таблица навыков этапов продаж',
                                    'Пирамида ценностей пациента',
                                    'Текст для отработки интонации',
                                    'Таблица свойство - польза',
                                ],
                                [
                                    'Типовые ответы на типовые возражения',
                                    'Рабочая тетрадь Модуль 2',
                                    'Список рекомендованных к употреблению слов и фраз',
                                    'Шаблоны для мессенджеров "вопрос-ответ"',
                                    'Диалог в мессенджере для анализа',
                                    'Инструкция по работе с несовершеннолетними пациентами',
                                    'Образец согласия на проведение обследования',
                                ],

                            ]
                        };
                    include ../../src/components/course-after/index

                //-authors
                section.course__authors
                    .container
                        -
                            var data = [
                                {
                                    img: '/images/content/course-authors/1.webp',
                                    prof: 'Автор',
                                    name: 'Ольга Берестова',
                                    title: 'В МЕДИЦИНСКОМ БИЗНЕСЕ С 2003 ГОДА',
                                    desc: 'Врач акушер-гинеколог, кандидат медицинских наук, обладатель степени excecutive емва, входит в топ-100 генеральных директоров россии. собственник и генеральный директор ведущего медицинского холдинга южно-уральского округа'
                                },
                                {
                                    img: '/images/content/course-authors/4.webp',
                                    prof: 'Тренер',
                                    name: 'Ирина Костромина',
                                    desc: 'Бизнес-тренер mcu, опыт тренинговой деятельности более 15 лет с ведущими российскими и иностранными компанииями в сфере сервиса и гостеприимства. сервисолог',
                                },
                                {
                                    img: '/images/content/course-authors/3.webp',
                                    prof: 'Тренер',
                                    name: 'Ольга Буренкова',
                                    title: 'ВЕДУЩИЙ БИЗНЕС-ТРЕНЕР ФЕДЕРАЛЬНОГО МЕДИЦИНСКОГО ХОЛДИНГА',
                                    desc: 'Эксперт по повышению прибыльности клиник через повышение квалификации персонала'
                                },

                            ];
                        include ../../src/components/course-authors/index

                //-tariffs
                section.course__tariffs
                    .container
                        -
                            var data = {
                                title: 'Стоимость обучения:',
                                list: [
                                    {
                                        img: '/images/content/course-tariffs/1.webp',
                                        name: '«Сборная» группа',
                                        content: '<p>Врачи разных клиник<br>' +
                                                'Обучение проходит в Москве</p>',
                                        price: '18 000 руб. за человека'
                                    },
                                    {
                                        img: '/images/content/course-tariffs/2.webp',
                                        name: '«Корпоративная» группа',
                                        content: '<p>Выезд в вашу клинику</p>',
                                        price: 'от 150 000 руб.'
                                    },

                                ],
                            };
                        include ../../src/components/course-tariffs/index




                //-schedule
                section.course__schedule
                    .course__schedule-title.ui-heading-2 Расписание ближайших тренингов:
                    -
                        var data = {
                            items: [
                                {
                                    name: '',
                                    list: [
                                        '',
                                    ]
                                },
                                {
                                    name: 'Сборная группа:',
                                    list: [
                                        'Июль<br>23 / 2023',
                                    ]
                                },
                                {
                                    name: 'Корпоративная группа:',
                                    list: [
                                        'По согласованию',
                                    ]
                                },
                                {
                                    name: '',
                                    list: [
                                        '',
                                    ]
                                },
                            ],
                        };
                    include ../../src/components/course-schedule/index

                //-reviews
                section.course__reviews
                    .container
                        include ../../src/components/reviews-slider/index
                //-videos
                section.course__videos
                    .container
                        -
                            var data = {
                                list: [
                                    {
                                        link: 'https://www.youtube.com/watch?v=lyh2kAjcmSY',
                                        img: '/images/content/course-videos/6.webp',
                                        title: 'Видеоотзыв Ведериной Светланы Владимировны — заместителя генерального директора по административной работе, клиника «Доктор Эстетик»'
                                    },
                                    {
                                        link: 'https://www.youtube.com/watch?v=lyh2kAjcmSY',
                                        img: '/images/content/course-videos/7.webp',
                                        title: 'Видеоотзыв Асеевой Татьяны Александровны и Панковой Галины Владимировны — старших администраторов клиники «Медассист», г.Курск'
                                    },
                                    {
                                        link: 'https://www.youtube.com/watch?v=lyh2kAjcmSY',
                                        img: '/images/content/course-videos/8.webp',
                                        title: 'Видеоотзыв Амбарцумян Седы Арменовны (руководитель клиентского сервиса), Шемчук Марии Николаевны (старший администратор) и Валовой Елены Ивановны (старший оператор контактного центра) «Клинический госпиталь на Яузе», г.Москва'
                                    },
                                    {
                                        link: 'https://www.youtube.com/watch?v=lyh2kAjcmSY',
                                        img: '/images/content/course-videos/9.webp',
                                        title: 'Видеоотзыв Лютаковой Герганы Стефановны — администратора клиники «СкинАрт», г.Москва'
                                    },
                                    {
                                        link: 'https://www.youtube.com/watch?v=lyh2kAjcmSY',
                                        img: '/images/content/course-videos/10.webp',
                                        title: 'Видеоотзыв Задубровской Натальи Игоревны, Гайдучонок Елены Андреевны и Тарасовой Татьяны Михайловны - администраторов Семейной клиники «Здоровье», г. Королев'
                                    },
                                ]
                            };
                        include ../../src/components/course-videos/index
                //-imgs
                section.course__imgs
                    .container
                        .course-imgs
                            .course-imgs__item
                                img(src="/images/content/course-imgs/4.webp" alt="img")
                            .course-imgs__item
                                img(src="/images/content/course-imgs/5.webp" alt="img")
                            .course-imgs__item
                                img(src="/images/content/course-imgs/6.webp" alt="img")
                            .course-imgs__item
                                img(src="/images/content/course-imgs/7.webp" alt="img")
                            .course-imgs__item
                                img(src="/images/content/course-imgs/8.webp" alt="img")
                            .course-imgs__item
                                img(src="/images/content/course-imgs/9.webp" alt="img")




                //-businesses
                section.course__businesses
                    .container
                        .course-businesses
                            form(action='/ajax/ajax.php' method='post' data-event='submit.sendForm').course-businesses__form.form
                                input(type="hidden" name="eventName" value="MAIN_FORM")
                                input(type="hidden" name="messageFields" value="{'name':'Имя','sname':'Фамилия','tel':'Телефон','email':'Email','city':'Город','clinic':'Клиника'}")
                                .course-businesses__title.form__title Оставьте заявку
                                .form__fields
                                    .form__field
                                        input(type='text' name='name' placeholder='Ваше имя' required).form__input
                                    .form__field
                                        input(type='tel' name='tel' placeholder='Телефон' required).form__input
                                    .form__field
                                        input(type='email' name='email' placeholder='Эл. почта' required).form__input
                                    .form__field
                                        input(type='text' name='city' placeholder='Город').form__input
                                    .form__field
                                        input(type='text' name='clinic' placeholder='Клиника').form__input
                                .form__accept
                                    include ../../src/components/accept/index
                                .form__accept
                                    include ../../src/components/accept2/index
                                button(type='submit').form__submit.course-businesses__btn Отправить
                                    template
                                        .form-popup.form
                                            .form__ok
                                                h3 Спасибо
                                                p Ваша заявка принята в обработку. Наши специалисты свяжутся с Вами в ближайшее время.


                //-ul
                section.course__ul
                    .container
                        -
                            var data = [
                                'Мы говорим про системное управление клиникой. То есть даём системные и взаимосвязанные знания, позволяющие видеть бизнес целостно и оценивать причинно-следственные связи между решениями и последствиями в любом звене системы управления.',
                                'Мы даём только те знания, которые проверены практикой. Все эксперты Медицинского корпоративного университета — действующие сотрудники ведущих клиник России и Европы и компаний индустрии здравоохранения.',
                                'Мы обучаем не только собственников, топ-менеджеров клиник, но и линейный персонал: врачей, администраторов, медицинских сестер, что дает возможность всей команде мыслить в одном направлении и достигать поставленных целей.',
                                'Мы даем гарантии эффективности обучения и внедрения нашей системы управления: сравниваем исходные данные по ключевым показателям эффективности с теми, которых удается достичь после обучения, оцениваем соответствие поставленным целям.',
                            ];
                        include ../../src/components/course-ul/index
                //-nums
                section.course__nums
                    .container
                        -
                            var data = [
                                {
                                    val: '10+',
                                    name: 'практических курсов',
                                },
                                {
                                    val: '300+',
                                    name: 'клиентов',
                                },
                                {
                                    val: '10+',
                                    name: 'лет обучаем эффективному менеджменту в медицине',
                                },
                            ];
                        include ../../src/components/course-nums/index


                //-form
                section.course__form
                    .container
                        include ../../src/components/form-call/index
                //-info
                section.course__info
                    .container
                        include ../../src/components/course-info/index