extends ../../src/core/main

block variables
    - var title = 'Пример курса'

block content
    main.page
        section.page__banner
            -
                var data = {
                    color: '--banner-color: var(--color-black)',
                    img: 'course-1',
                    bread: [
                        {
                            href: '/',
                            name: 'Главная'
                        },
                        {
                            href: '/courses/',
                            name: 'Курсы'
                        },
                        {
                            name: title
                        }
                    ],
                    content: `<h2>Системное управление клиникой 3:0</h2>
                                <br>
                               <p>С выдачей диплома установленного образца</p>
                               <p>Курс-практикум для собственников и управленцев</p>
                               <ul>
                               <li>Онлайн обучение + внедрение</li>
                               <li>Старт 3 потока 30 января 2023</li>
                                </ul>
                                <p>*Лучший курс MCU 2022 года</p>
                                <button type="button" data-event="click.goTo" data-to=".course__tariffs">Записаться
                                                                на курс
                                                            </button>
                            `
                };
            include ../../src/components/banner/index
        .page__content
            .course
                //-basis
                section.course__basis
                    .container
                        include ../../src/components/course-basis/index
                //-advantages2
                section.course__advantages2
                    include ../../src/components/course-advantages2/index
                //-for
                section.course__for
                    .container
                        include ../../src/components/course-for/index
                //-after
                section.course__after
                    include ../../src/components/course-after/index
                //-for
                section.course__teacher
                    include ../../src/components/course-teacher/index
                //-curators
                section.course__curators
                    .container
                        include ../../src/components/course-curators/index
                //-choose
                section.course__choose
                    .container
                        include ../../src/components/course-choose/index
                //-tariffs
                section.course__tariffs
                    .container
                        -
                            var data = {
                                title: 'Форма обучения',
                                list: [
                                    {
                                        name: '«Самостоятельный» без выдачи диплома',
                                        ul: [
                                            '150 видеоуроков',
                                            'Перечень заданий для самостоятельной работы',
                                            'Книга «Эффективная бизнес - модель современной клиники»',
                                        ],
                                    },
                                    {
                                        name: '«Академический» с выдачей диплома',
                                        ul: [
                                            '150 видеоуроков',
                                            '70 документов',
                                            'Обучение до трех руководителей',
                                            'Перечень заданий для самостоятельной работы',
                                            'Книга «Эффективная бизнес - модель современной клиники»',
                                            'Живые мастер - классы с автором курса / куратором',
                                            'Разборы кейсов / деловые игры / решение управленческих задач',
                                            'Закрытый чат с экспертами и коллегами',
                                            'Диплом о профессиональной переподготовке(250 ч.)',
                                        ],
                                    },
                                    {
                                        name: '«Академический» с менторингом',
                                        ul: [
                                            '150 видеоуроков',
                                            '70 документов: стандарты, регламенты, инструкции',
                                            'Обучение до трех руководителей',
                                            'Перечень заданий для самостоятельной работы',
                                            'Книга «Эффективная бизнес - модель современной клиники»',
                                            'Живые мастер - классы с автором курса / куратором',
                                            'Разборы кейсов / деловые игры / решение управленческих задач',
                                            'Закрытый чат с экспертами и коллегами',
                                            'Диплом о профессиональной переподготовке(250 ч.)',
                                            'Менторские сессии с руководителем(6 сессий)',
                                        ],
                                    }
                                ],
                                btn: 'Запросить программу и стоимость'
                            };
                        include ../../src/components/course-tariffs/index
                //-reviews
                section.course__reviews
                    .container
                        include ../../src/components/course-reviews/index
                //-guarantees
                section.course__guarantees
                    .container
                        include ../../src/components/course-guarantees/index
                //-faq
                section.course__faq
                    .container
                        -
                            var data = {
                                title: true
                            };
                        include ../../src/components/course-faq/index
                //-form
                section.course__form
                    .container
                        include ../../src/components/form-call/index
                //-info
                section.course__info
                    .container
                        include ../../src/components/course-info/index











        