extends ../../src/core/main

block variables
    - var title = 'Пример курса'

block content
    main.page
        section.page__banner
            -
                var data = {
                    type: 'white',
                    img: 'course',
                    bread: [
                        {
                            href: '/',
                            name: 'Главная'
                        },
                        {
                            href: '/courses/',
                            name: 'Курсы'
                        },
                        {
                            name: title
                        }
                    ],
                    content: `<h2>Системное управление клиникой</h2>
                                <br>
                               <p>На основе трёхконтурной бизнес-модели</p>
                               <ul>
                               <li>Онлайн обучение + внедрение</li>
                               <li>Старт 3 потока 30 января 2023</li>
                                </ul>
                                <p>*Лучший курс по управлению 2022 года</p>
                                <form action="/php/getForm.php" method="post" data-event="submit.openForm">
                                    <input type="hidden" name="name" value="course">
                                    <button type="submit">Записаться на курс</button>
                                </form>

                            `
                };
            include ../../src/components/banner/index
            include ../../src/components/course-schedule/index
        .page__content
            .course
                //-about
                section.course__about
                    .container
                        include ../../src/components/course-about/index
                //-advantages
                section.course__advantages
                    .container
                        include ../../src/components/course-advantages/index
                //-desc
                section.course__desc
                    .container
                        include ../../src/components/course-desc/index
                //-histories
                section.course__histories
                    .container
                        include ../../src/components/course-histories/index
                //-process
                section.course__process
                    .container
                        include ../../src/components/course-process/index
                //-program
                section.course__program
                    .container
                        include ../../src/components/course-program/index
                //-teachers
                section.course__teachers
                    .container
                        -
                            var data = {
                                title: 'Преподаватели курса',
                                link: true,
                                list: [
                                    {
                                        img: '/images/content/teachers-item/1.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/2.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/3.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/4.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/1.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/2.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/3.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/4.webp'
                                    }
                                ]
                            };
                        include ../../src/components/teachers-slider/index
                //-tariffs
                section.course__tariffs
                    .container
                        -
                            var data = {
                                title: 'Тарифы',
                                list: [
                                    {
                                        name: 'САМОСТОЯТЕЛЬНЫЙ',
                                        ul: [
                                            'Доступ к 150 видео урокам на 6 месяцев',
                                            'Домашние задания',
                                            'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                                            'Участие в сообществе управленцев',
                                            'Диплом об обучении,'
                                        ],
                                        price: '99 000 ₽'
                                    },
                                    {
                                        name: 'С КУРАТОРОМ',
                                        ul: [
                                            'Доступ к 150 видео урокам на 6 месяцев',
                                            'Домашние задания',
                                            'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                                            '6 «живых» вебинаров по темам курса',
                                            'Участие в сообществе управленцев',
                                            'Сопровождение куратора бизнес - практика',
                                            'Пакет <a href="/">стандартов и регламентов</a>',
                                            'Диплом об обучении',
                                        ],
                                        price: '150 000 ₽'
                                    },
                                    {
                                        name: 'С ВНЕДРЕНИЕМ',
                                        ul: [
                                            'Доступ к 150 видео урокам на 6 месяцев',
                                            'Домашние задания',
                                            'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                                            '6 «живых» вебинаров по темам курса',
                                            'Участие в сообществе управленцев',
                                            'Сопровождение куратора бизнес - практика, выезд в клинику – по запросу',
                                            'Пакет <a href="/">стандартов и регламентов</a>, адаптированный к вашей клинике',
                                            'Диплом об обучении'
                                        ],
                                        price: '360 000 ₽'
                                    }
                                ],
                            };
                        include ../../src/components/course-tariffs/index
                //-guarantees
                section.course__guarantees
                    .container
                        include ../../src/components/course-guarantees/index
                //-faq
                section.course__faq
                    .container
                        -
                            var data = {
                                title: true
                            };
                        include ../../src/components/course-faq/index
                //-form
                section.course__form
                    .container
                        include ../../src/components/form-call/index
                //-info
                section.course__info
                    .container
                        include ../../src/components/course-info/index











        