extends ../../src/core/main

block variables
    - var title = 'Пример курса'

block content
    main.page
        section.page__banner
            -
                var data = {
                    type: 'white',
                    img: 'course',
                    bread: [
                        {
                            href: '/',
                            name: 'Главная'
                        },
                        {
                            href: '/courses/',
                            name: 'Курсы'
                        },
                        {
                            name: title
                        }
                    ],
                    content: `<h2>Системное управление клиникой</h2>
                                <br>
                               <p>На основе трёхконтурной бизнес-модели</p>
                               <ul>
                               <li>Онлайн обучение + внедрение</li>
                               <li>Старт 3 потока 30 января 2023</li>
                                </ul>
                                <p>*Лучший курс по управлению 2022 года</p>
                                <form action="/php/getForm.php" method="post" data-event="submit.openForm">
                                    <input type="hidden" name="name" value="course">
                                    <button type="submit">Записаться на курс</button>
                                </form>

                            `
                };
            include ../../src/components/banner/index
            -
                var data = {
                    items: [
                        {
                            name: 'Время обучения по МСК',
                            list: [
                                '09:00 - 11:00 <small>группа 1</small>',
                                '19:00 - 21:00 <small>группа 2</small>',
                            ]
                        },
                        {
                            name: 'Дата начала курса:',
                            list: [
                                'Февраль<br>23 / 2023',
                            ]
                        },
                        {
                            name: 'Количество мест:',
                            list: [
                                'Осталось<br>10 мест',
                            ]
                        },
                        {
                            name: 'Формат курса:',
                            list: [
                                'Онлайн обучение<br>+ внедрение',
                            ]
                        }
                    ],
                };
            include ../../src/components/course-schedule/index
        .page__content
            .course
                //-about
                section.course__about
                    .container
                        include ../../src/components/course-about/index
                //-advantages
                section.course__advantages
                    .container
                        include ../../src/components/course-advantages/index
                //-desc
                section.course__desc
                    .container
                        include ../../src/components/course-desc/index
                //-histories
                section.course__histories
                    .container
                        include ../../src/components/course-histories/index
                //-process
                section.course__process
                    .container
                        include ../../src/components/course-process/index
                //-program
                section.course__program
                    .container
                        -
                            var data = {
                                title: 'Краткая программа курса',
                                desc: 'Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, Курс–практикум для собственников и управленцев.',
                                faq: {
                                    title: false,
                                    list: [
                                        {
                                            title: 'Оцениваем собственные компетенции. Разрабатываем бизнес-концепцию клиники',
                                            desc: 'Вы оцените свои ресурсы, исследуете конкурентное окружение и емкость рынка, определитесь с юридической формой деятельности и способом организации клиники.'
                                        },
                                        {
                                            title: 'Формируем юридическую и финансовую модель клиники',
                                            desc: 'Разберетесь в бюджетировании, метриках эффективности сотрудников, рассчитаете точку безубыточности для своего проекта.'
                                        },
                                        {
                                            title: 'Организовываем эффективную систему через трехконтурную модель',
                                            desc: 'Вы изучите систему управления контурами сотрудников, продукта и пациента. Определитесь с системой мотивации персонала.'
                                        },
                                        {
                                            title: 'Готовим документы',
                                            desc: 'Совместно с экспертом разберете всю документацию, которую необходимо будет готовить к запуску проекта.'
                                        },
                                        {
                                            title: 'Запускаем бренд',
                                            desc: 'Вы сможете точно определиться с целевой аудиторий своего проекта, разберете нюансы правильного позиционирования и нейминга, а также структуру продающего сайта.'
                                        },
                                        {
                                            title: 'Формируем прайс',
                                            desc: 'Определите политику ценообразования в зависимости от позиционирования клиники и сформируете прайс с учетом обязательных требований.'
                                        },
                                        {
                                            title: 'Нанимаем и обучаем персонал',
                                            desc: 'Сформируете организационную структуру, разберете все способы найма, определитесь со стартовым и дальнейшим обучением сотрудников.'
                                        },
                                    ]
                                }
                            }
                        include ../../src/components/course-program/index
                //-teachers
                section.course__teachers
                    .container
                        -
                            var data = {
                                title: 'Преподаватели курса',
                                link: true,
                                list: [
                                    {
                                        img: '/images/content/teachers-item/1.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/2.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/3.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/4.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/1.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/2.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/3.webp'
                                    },
                                    {
                                        img: '/images/content/teachers-item/4.webp'
                                    }
                                ]
                            };
                        include ../../src/components/teachers-slider/index
                //-tariffs
                section.course__tariffs
                    .container
                        -
                            var data = {
                                title: 'Тарифы',
                                list: [
                                    {
                                        name: 'САМОСТОЯТЕЛЬНЫЙ',
                                        ul: [
                                            'Доступ к 150 видео урокам на 6 месяцев',
                                            'Домашние задания',
                                            'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                                            'Участие в сообществе управленцев',
                                            'Диплом об обучении,'
                                        ],
                                        price: '99 000 ₽'
                                    },
                                    {
                                        name: 'С КУРАТОРОМ',
                                        ul: [
                                            'Доступ к 150 видео урокам на 6 месяцев',
                                            'Домашние задания',
                                            'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                                            '6 «живых» вебинаров по темам курса',
                                            'Участие в сообществе управленцев',
                                            'Сопровождение куратора бизнес - практика',
                                            'Пакет <a href="/">стандартов и регламентов</a>',
                                            'Диплом об обучении',
                                        ],
                                        price: '150 000 ₽'
                                    },
                                    {
                                        name: 'С ВНЕДРЕНИЕМ',
                                        ul: [
                                            'Доступ к 150 видео урокам на 6 месяцев',
                                            'Домашние задания',
                                            'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                                            '6 «живых» вебинаров по темам курса',
                                            'Участие в сообществе управленцев',
                                            'Сопровождение куратора бизнес - практика, выезд в клинику – по запросу',
                                            'Пакет <a href="/">стандартов и регламентов</a>, адаптированный к вашей клинике',
                                            'Диплом об обучении'
                                        ],
                                        price: '360 000 ₽'
                                    }
                                ],
                            };
                        include ../../src/components/course-tariffs/index
                //-guarantees
                section.course__guarantees
                    .container
                        include ../../src/components/course-guarantees/index
                //-faq
                section.course__faq
                    .container
                        -
                            var data = {
                                title: true,
                                list: [
                                    {
                                        title: 'Оцениваем собственные компетенции. Разрабатываем бизнес-концепцию клиники',
                                        desc: 'Вы оцените свои ресурсы, исследуете конкурентное окружение и емкость рынка, определитесь с юридической формой деятельности и способом организации клиники.'
                                    },
                                    {
                                        title: 'Формируем юридическую и финансовую модель клиники',
                                        desc: 'Разберетесь в бюджетировании, метриках эффективности сотрудников, рассчитаете точку безубыточности для своего проекта.'
                                    },
                                    {
                                        title: 'Организовываем эффективную систему через трехконтурную модель',
                                        desc: 'Вы изучите систему управления контурами сотрудников, продукта и пациента. Определитесь с системой мотивации персонала.'
                                    },
                                    {
                                        title: 'Готовим документы',
                                        desc: 'Совместно с экспертом разберете всю документацию, которую необходимо будет готовить к запуску проекта.'
                                    },
                                    {
                                        title: 'Запускаем бренд',
                                        desc: 'Вы сможете точно определиться с целевой аудиторий своего проекта, разберете нюансы правильного позиционирования и нейминга, а также структуру продающего сайта.'
                                    },
                                    {
                                        title: 'Формируем прайс',
                                        desc: 'Определите политику ценообразования в зависимости от позиционирования клиники и сформируете прайс с учетом обязательных требований.'
                                    },
                                    {
                                        title: 'Нанимаем и обучаем персонал',
                                        desc: 'Сформируете организационную структуру, разберете все способы найма, определитесь со стартовым и дальнейшим обучением сотрудников.'
                                    },
                                ]
                            };
                        include ../../src/components/course-faq/index
                //-form
                section.course__form
                    .container
                        include ../../src/components/form-call/index
                //-info
                section.course__info
                    .container
                        include ../../src/components/course-info/index











        