.course-teacher
    .container
        .course-teacher__img
            img(src="/images/content/course-teacher/img.webp" alt="lorem")
        .course-teacher__title Ольга Вячеславовна Берестова
        ul.course-teacher__ul
            -
                var data = [
                    'Генеральный директор ведущего медицинского холдинга, входящего в ТОП - 200 многопрофильных клиник России(по версии Vademecum, 2022 г.)',
                    'Входит в топ - 100 генеральных директоров России с 2017 г.Врач акушер - гинеколог, кандидат медицинских наук',
                    'В медицинском бизнесе с 2003 года, путь начала с маленького гинекологического кабинета, где работала самостоятельно',
                    'Обладатель степени Executive MBA',
                    'Основатель Медицинского корпоративного университета',
                    'Автор книг и запатентованных курсов для врачей, администраторов и медицинских управленцев',
                ];
            each i in data
                li= i