
<div class="course-teacher">
  <div class="container">
    <div class="course-teacher__img"><img src="/images/content/course-teacher/img.webp" alt="lorem"/></div>
    <div class="course-teacher__title">Ольга Вячеславовна Берестова</div>
    <ul class="course-teacher__ul">
      <li>Генеральный директор ведущего медицинского холдинга, входящего в ТОП - 200 многопрофильных клиник России(по версии Vademecum, 2022 г.)</li>
      <li>Входит в топ - 100 генеральных директоров России с 2017 г.Врач акушер - гинеколог, кандидат медицинских наук</li>
      <li>В медицинском бизнесе с 2003 года, путь начала с маленького гинекологического кабинета, где работала самостоятельно</li>
      <li>Обладатель степени Executive MBA</li>
      <li>Основатель Медицинского корпоративного университета</li>
      <li>Автор книг и запатентованных курсов для врачей, администраторов и медицинских управленцев</li>
    </ul>
  </div>
</div>