.course-advantages
    .course-advantages__title Преимущества перед другими
    .course-advantages__list
        each i,x in [1,2,3,4]
            .course-advantages__item
                .course-advantages__top
                    .course-advantages__left
                        .course-advantages__img
                            img(src=`/images/content/course-advantages/${x+1}.svg` alt="Преимущество")
                    .course-advantages__right
                .course-advantages__bottom
                    .course-advantages__name= `Преимущество ${x+1}`
                    .course-advantages__desc Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста