.course-desc
    .course-desc__rows
        .course-desc__row
            .course-desc__col
                .course-desc__title Кому подойдет
                ul.course-desc__ul
                    li Для главных врачей
                    li Для собственников и генеральных директоров клиник
                    li Для исполнительных директоров
                    li Для управленцев
            .course-desc__col.course-desc__col--img
                .course-desc__img
                    img(src="/images/content/course-desc/1.webp" alt="Кому подойдет")
        .course-desc__row
            .course-desc__col.course-desc__col--img
                .course-desc__img
                    img(src="/images/content/course-desc/2.webp" alt="После прохождения курса Вы:")
            .course-desc__col.course-desc__col--padding-left
                .course-desc__title После прохождения курса Вы:
                    ul.course-desc__ul
                        li Наведете порядок в клинике
                        li Построите эффективную систему продаж и сервиса
                        li Регламентируете работу всех сотрудников
                        li Получите работающие инструменты для повышения прибыли
                        li Оптимизируете работу всех бизнес-процессов в своей клинике
