
<div class="course-wrong">
  <div class="course-wrong__left">
    <div class="course-wrong__content">
      <h3>Что будет, если  что-то пойдет не так?</h3>
      <p>Куратор сопровождает вас на протяжении всего обучения, он оперативно вас проконсультирует и поможет справиться с трудностями</p>
      <h3>Какие у меня есть гарантии?</h3>
      <ul>
        <li>Наши методики апробированы в клиниках крупнейшего медицинского холдинга Уральского Федерального округа.</li>
        <li>К материалам курса можно вернуться в любой момент и повторить материал</li>
      </ul>
    </div>
  </div>
  <div class="course-wrong__right"><img src="/images/content/course-wrong/img.webp" alt="lorem"/></div>
</div>