.course-wrong
    .course-wrong__left
        .course-wrong__content
            h3 Что будет, если  что-то пойдет не так?
            p Куратор сопровождает вас на протяжении всего обучения, он оперативно вас проконсультирует и поможет справиться с трудностями
            h3 Какие у меня есть гарантии?
            ul
                li Наши методики апробированы в клиниках крупнейшего медицинского холдинга Уральского Федерального округа.
                li К материалам курса можно вернуться в любой момент и повторить материал
    .course-wrong__right
        img(src="/images/content/course-wrong/img.webp" alt="lorem")