extends ../../../src/core/main

block variables
    - var title = 'Региональная клиника N'

block content
    main.page
        section.page__top
            .container
                .page__bread
                    -
                        var bread = [
                            {
                                href: '/',
                                name: 'Главная'
                            },
                            {
                                href: '/about/',
                                name: 'О нас'
                            },
                            {
                                href: '/about/portfolio/',
                                name: 'Портфолио'
                            },
                            {
                                name: title
                            },

                        ];
                    include ../../../src/components/bread/index
                h1.page__title= title
        .page__content
            .container
                .portfolio-detail
                    .portfolio-detail__left
                        .portfolio-detail__content
                            h6 Региональная клиника N, работает с 2007 года, рентабельность 18%Задача: систематизировать бизнес, увеличить рентабельность, собственнику уйти из «операционки».
                            br
                            br
                            br
                            br
                            p Собственник прошел обучение на курсе «Системное управление клиникой на основе трехконтурной бизнес-модели».
                            br
                            p С помощью куратора – действующего исполнительного директора клиники, где успешно работает модель управления, в течение 12 месяцев – сформирована организационная структура, внедрены стандарты и регламенты, обучен персонал основам сервиса и продажам, разработана новая система мотивации всех категорий сотрудников «на результат», откорректировано ценообразование и продуктовая линейка с учетом позиционирования компании.
                            br
                            p(style='color: var(--color-red);') Результат:
                            br
                            p Инвестиции в проект: 60 тыс.\месяц
                            p Рост прибыли клиники 12 млн., рост рентабельности +7% (25%)
                    .portfolio-detail__right
                        .portfolio-detail__img
                            img(src="/images/content/portfolio-detail/img.webp" alt="Региональная клиника N")
