header.header
    .container
        .header__top
            .header__left
                button(type='button' data-event='click.openMmenu').header__mmenu-open
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="5" y="10" width="30" height="4" fill="#37383E"/>
                    <rect x="5" y="18" width="30" height="4" fill="#37383E"/>
                    <rect x="5" y="26" width="30" height="4" fill="#37383E"/>
                    </svg>
                .header__logo
                    a(href="/")
                        img(src="/images/content/logo-text.svg" alt="logo")
                .header__slogan.
                    ГАРАНТИЯ <br>
                    УВЕЛИЧЕНИЯ <br>
                    ПРИБЫЛИ
            .header__center
                .header__socials
                    include ../socials/index
            .header__search
                a(href="/search/")
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.272 16.2697L24 24M18.6449 10.3249C18.6449 14.9227 14.9188 18.6499 10.3225 18.6499C5.72609 18.6499 2 14.9227 2 10.3249C2 5.72721 5.72609 2 10.3225 2C14.9188 2 18.6449 5.72721 18.6449 10.3249Z" stroke="#FF033E" stroke-width="3"/>
                    </svg>
                    span Поиск
            .header__right
                .header__tel
                    a(href="tel:+7(495)198-11-01") +7 (495) 198-11-01
                form(action='/php/getForm.php' method='post' data-event='submit.openForm').header__call
                    input(type='hidden' name='name' value='feedback')
                    button(type='submit') Заказать звонок
    .header__bottom
        .header__menu
            include ../menu/index
