.header {
  position: relative;
  z-index: 2;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 90px 0;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    a {
      display: block;
    }
  }

  &__slogan {
    font-weight: 800;
    line-height: 120%;
    padding-left: 49px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: 2px solid var(--color-red);
    margin-left: 49px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 85px;
  }

  &__tel {
    a {
      @include ui-numbers-1;
      @include ui-link-black;
      display: block;
      letter-spacing: -0.045em;
    }
  }

  &__call {
    @include ui-btn-fill;
  }

  &__bottom{
    position: absolute;
    top: calc(100% - 40px);
    left: 0;
    right: 0;
  }

  &__menu{
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
  }
}