@use "sass:math";

.clients-item {
  display: block;
  background-color: var(--color-grey-bg);
  position: relative;
  @include tr;
  @include sm-block{
    min-height: 220px;
  }

  @include hover {
    background-color: var(--color-grey-bg-dark);
  }

  &:before {
    content: '';
    display: block;
    padding-top: math.percentage(351/479);
    @include lg-block{
      display: none;
    }
  }

  &__content {
    position: absolute;
    inset: 60px 35px 35px 50px;
    max-height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

    @include xlg-block {
      inset: 40px 30px;
      gap: 30px;
    }
    @include lg-block{
      position: static;
        gap: 25px;
      padding: 35px 25px;
    }
    @include sm-block {
      inset: 15px;
      gap: 15px;
    }
  }

  &__img {
    height: 60px;
    display: flex;
    align-items: center;
    @include sm-block {
      width: 129px;
      height: 37px;
    }

    img {
      max-height: 100%;
    }
  }

  &__desc {
    font-size: 24px;
    @include xlg-block{
      font-size: 20px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }


}