.course-guarantees
    .course-guarantees__title Гарантии после<br>прохождения курса
    .course-guarantees__grid
        .course-guarantees__col
            .course-guarantees__img
                img(src="/images/content/course-guarantees/img.webp" alt="Гарантии после прохождения курса")
        .course-guarantees__col
            .course-guarantees__desc По окончании обучения выдается диплом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, Курс–практикум для собственников и управленцев.
            ul.course-guarantees__ul
                li Гарантия 1
                li Гарантия 2
                li Гарантия 3
                li Гарантия 4