
<div class="gift">
  <div class="gift__left"></div>
  <div class="gift__right">
    <div class="gift__item"><a class="courses-item" href="/courses/course/"><span class="courses-item__img"><img src="/images/content/index-popular/1.webp" alt="img"/></span><span class="courses-item__name">Системное управление клиникой</span><span class="courses-item__txt"><p style="color:var(--color-red);">Онлайн + внедрение Лучший курс по управлению 2022 года</p><p>Курс–практикум для собственников и управленцев. Управление клиникой на основе трёхконтурной бизнес-модели</p></span></a>
    </div>
  </div>
</div>