.courses-items{
  &__top{
    @include ui-top;
  }

  &__title{
    @include ui-top-title;
  }

  &__list{
    margin-top: 75px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 40px;
  }


}