.courses-items {
  &__top {
    @include ui-top;
  }

  &__title {
    @include ui-top-title;
  }

  &__list {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 40px;
    @include xlg-block {
      margin-top: 60px;
      gap: 40px 20px;
    }
    @include lg-block {
      margin-top: 50px;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 20px;
    }
    @include md-block {
      margin-top: 40px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm-block {
      margin-top: 30px;
      display: flex;
      gap: 10px;
      overflow-y: auto;

      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px;

      &::-webkit-scrollbar {
        display: none;
      }

    }
  }

  &__item {
    @include sm-block {
      flex-shrink: 0;
      width: 285px;
    }
  }


}