
<div class="course-curators">
  <div class="course-curators__title">Кураторы курса</div>
  <div class="course-curators__txt">Действующие исполнительные директора клиник, где внедрена трехконтурная модель управления</div>
  <div class="course-curators__teachers">
    <div class="course-curators__teacher"><a class="teachers-item" href="/about/teachers/teacher/"><span class="teachers-item__img"><img src="/images/content/teachers-item/5.webp" alt="Ирина Попова"/></span><span class="teachers-item__name">Ирина Попова</span><span class="teachers-item__desc">Управление клиникой на основе трёхконтурной бизнес-модели</span></a></div>
    <div class="course-curators__teacher"><a class="teachers-item" href="/about/teachers/teacher/"><span class="teachers-item__img"><img src="/images/content/teachers-item/6.webp" alt="Ирина Попова"/></span><span class="teachers-item__name">Ирина Попова</span><span class="teachers-item__desc">Управление клиникой на основе трёхконтурной бизнес-модели</span></a></div>
  </div>
  <form class="course-curators__btn" action="/php/getForm.php" method="post" data-event="submit.openForm">
    <input type="hidden" name="name" value="consultation"/>
    <button type="submit">Получить консультацию</button>
  </form>
</div>