@use "sass:math";

.courses {
  padding-bottom: var(--offset-bottom);

  &__btns {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
  }

  &__prev {
    @include ui-arrow-left;
  }

  &__swiper {
    width: 100%;
  }

  &__next {
    @include ui-arrow-right;
  }

  &__arr {
    border-radius: 6px;
    width: 54px;
    height: 60px;
  }

  &__btn {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 50px;

    box-sizing: border-box;
    text-transform: uppercase;
    width: auto;
    background-color: var(--color-grey-bg);
    border-radius: 6px;
    cursor: pointer;
    @include tr;

    &.active {
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }

  &__more{
    margin-top: 100px;
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 60px;
    align-items: center;

    &:before,&:after{
      content: '';
      height: 2px;
      background-color: var(--color-grey);
    }

    button{
      @include ui-btn-border;
    }
  }
}