@use "sass:math";

.courses {
  padding-bottom: var(--offset-bottom);

  &__btns {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    @include md-block {
      grid-template-columns: 100%;
    }
  }

  &__prev {
    @include ui-arrow-left;
  }

  &__swiper {
    width: 100%;
  }

  &__next {
    @include ui-arrow-right;
  }

  &__arr {
    border-radius: 6px;
    width: 54px;
    height: 60px;
    @include md-block {
      display: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 50px;

    box-sizing: border-box;
    text-transform: uppercase;
    width: auto;
    background-color: var(--color-grey-bg);
    border-radius: 6px;
    cursor: pointer;
    @include tr;
    @include md-block {
      height: 35px;
      padding: 0 20px;
      font-size: 12px;

    }

    &.active {
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }

    .courses-items__list {
      @include sm-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 10px;
      }
    }

    .courses-items__item {
      @include sm-block {
        width: auto;
      }
    }

    .courses-item {
      &__name {
        @include sm-block {
          font-size: 12px;
        }
      }

      &__txt {
        @include sm-block {
          font-size: 12px;
          margin-top: 10px;
          gap: 5px;
        }
      }

    }
  }

  &__more {
    margin-top: 100px;
    @include xlg-block {
      margin-top: 70px;
    }
    @include sm-block {
      margin-top: 50px;
    }
  }
}