.services-list
    .services-list__title Список услуг
    .services-list__txt Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, Курс–практикум для собственников и управленцев.
    .services-list__items
        each i in data
            .services-list__item
                .services-list__top
                    .services-list__name= i
                    button(type='button' data-event='click.servicesAccordionToggle').services-list__btn
                .services-list__bottom
                    .services-list__desc
                        p Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, Курс–практикум для собственников и управленцев. Управление клиникой на основе трёхконтурной бизнес-модели Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста.
                        ul
                            li Список 1
                            li Список 2
                            li Список 3
                            li Список 4
                        form(action='/php/getForm.php' method='post' data-event='submit.openForm')
                            input(type='hidden' name='name' value='service')
                            button(type='submit') Оставить заявку на услугу

