.services-list {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  &__title {
    @include ui-heading-2;
  }

  &__txt {
    @include ui-descriptor-20;
    margin-top: 30px;
    @include sm-block {
      margin-top: 20px;
    }
  }

  &__items {
    margin-top: 40px;
    display: grid;
    gap: 30px;
    counter-reset: item;
    @include lg-block {
      gap: 20px;
    }
    @include sm-block {
      gap: 10px;
    }
  }

  &__item {
    padding: 50px 50px 50px 110px;
    background-color: var(--color-grey-bg);
    position: relative;
    @include md-block {
      padding: 40px 25px 40px 110px;
    }
    @include sm-block {
      padding: 80px 20px 30px 20px;
    }

    &:before {
      counter-increment: item;
      content: "0" counter(item);
      display: block;
      font-size: 18px;
      font-weight: 700;
      color: var(--color-red);
      position: absolute;
      left: 40px;
      top: 53px;
      @include sm-block {
        top: 30px;
        left: 18px;
      }
    }

    &.active {
      .services-list__bottom {
        height: var(--height);
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__name {
    @include ui-heading-3;
    @include lg-block {
      font-size: 34px;
    }
    @include md-block {
      font-size: 24px;
    }
  }

  &__btn {
    @include ui-plus-fill;
    flex-shrink: 0;
    @include sm-block {
      position: absolute;
      top: 19px;
      right: 16px;
    }
  }

  &__bottom {
    height: 0;
    overflow: hidden;
    @include tr;
  }

  &__desc {
    padding-top: 25px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    @include lg-block {
      padding-right: 0;
    }

    ul {
      @include ui-ul-checkbox;
    }

    button,
    a {
      @include ui-btn-fill;
      @include sm-block {
        font-size: 16px;
      }
    }
  }
}
