.course-process
    .course-process__title Как проходит обучение
    .course-process__rows
        //-.course-process__row
        .course-process__item Курсы проводятся в двух форматах: очное обучение с бизнес-тренером / онлайн обучение с куратором
        .course-process__item Курсы состоят из уроков, сгруппированных в смысловые модули
        .course-process__item Уроки выстроены по принципу: «от простого к сложному» и предполагают отработку и закрепление практических навыков
        //-.course-process__row
        .course-process__item Для каждого урока предусмотрено выполнение домашних заданий, которые помогу сформировать навык и освоить тонкости выполнения алгоритма работы
        .course-process__item Домашние задания проверяются куратором, который предоставляет обратную связь
        .course-process__item При возникновении вопросов – обучающийся может оперативно обратиться к куратору для их прояснения


