.course-process
    .course-process__title Как проходит обучение
    .course-process__rows
        div(data-index='01').course-process__item  Курсы проводятся в двух форматах: очное обучение с бизнес-тренером / онлайн обучение с куратором
        div(data-index='04').course-process__item Для каждого урока предусмотрено выполнение домашних заданий, которые помогу сформировать навык и освоить тонкости выполнения алгоритма работы
        div(data-index='02').course-process__item Курсы состоят из уроков, сгруппированных в смысловые модули
        div(data-index='05').course-process__item Домашние задания проверяются куратором, который предоставляет обратную связь
        div(data-index='03').course-process__item Уроки выстроены по принципу: «от простого к сложному» и предполагают отработку и закрепление практических навыков
        div(data-index='06').course-process__item При возникновении вопросов – обучающийся может оперативно обратиться к куратору для их прояснения




