.course-process {

  &__title {
    @include ui-heading-2;
    @include lg-block {
      text-align: center;
      font-size: 46px;
    }
    @include sm-block {
      font-size: 36px;
      text-align: left;
    }
  }

  &__rows {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 40px;

    @include xlg-block {
      margin-top: 35px;
    }
    @include lg-block {
      grid-template-columns: 100%;
      margin-top: 60px;
      border-top: 1px solid var(--color-grey);
    }
    @include sm-block {
      margin-top: 40px;
    }
  }

  &__item {
    padding: 40px 0 40px 130px;
    position: relative;
    font-size: 20px;
    overflow-y: auto;
    border-top: 1px solid var(--color-grey);

    @include lg-block {
      padding: 30px 0 30px 130px;
    }
    @include sm-block {
      padding: 20px 0 20px 50px;
      font-size: 16px;
    }

    &:nth-child(1) {
      border-color: transparent;
    }

    &:nth-child(2) {
      border-color: transparent;
    }

    &:before {
      content: attr(data-index);
      display: block;
      position: absolute;
      left: 0;
      top: 35px;
      font-size: 40px;
      font-weight: 700;
      color: var(--color-red);
      @include lg-block {
        top: 25px;
      }
      @include sm-block {
        font-size: 24px;
        top: 20px;
      }
    }
  }

  &__list {
    display: grid;

    .course-process__item {
      border-top: 1px solid var(--color-grey);

      &:first-child {
        border-color: transparent;
      }

      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

}
