@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('AvenirNextCyr-Medium'),
  url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('AvenirNextCyr-MediumItalic'),
  url('../fonts/AvenirNextCyr-MediumItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-MediumItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('AvenirNextCyr-Demi'),
  url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Demi.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('AvenirNextCyr-DemiItalic'),
  url('../fonts/AvenirNextCyr-DemiItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-DemiItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('AvenirNextCyr-BoldItalic'),
  url('../fonts/AvenirNextCyr-BoldItalic.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('AvenirNextCyr-Bold'),
  url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}





