:root{
  --font: 'Avenir Next Cyr', sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;

  --container-width: 1760px;
  --container-padding: 0 120px;

  --color-black: #37383E;
  --color-black2: #787A83;
  --color-white: #ffffff;
  --color-red: #FF033E;
  --color-red2: #D6224C;
  --color-red3: #BE1D42;
  --color-grey: #C8C8C8;
  --color-grey-bg-dark: #E9E9E9;
  --color-grey-bg: #F5F5F5;
  
  --transition: 0.4s;

  @media (max-width: 767.98px){
    --container-padding: 0 10px;
  }
}