footer.footer
    .footer__top
        .container
            .footer__grid
                .footer__logo
                    a(href="/")
                        img(src="/images/content/logo-text-white.svg" alt="logo")
                .footer__menus
                    .footer__menu
                        a(href="/about/") О нас
                        a(href="/guarantees/") Гарантии
                        a(href="") Курсы
                        a(href="/outsourcing/") Аутсорсинг
                        a(href="/consulting/") Консалтинг
                    .footer__menu
                        a(href="/video/") Видеотека
                        a(href="/shop/") Магазин
                        a(href="/gifts/") Подарки
                        a(href="/news/") Новости

                .footer__form
                    include ../footer-form/index
                .footer__contacts
                    .footer__sub Контакты
                    .footer__items
                        .footer__item
                            a(href="/contacts/") Москва, Садовническая ул., д. 76/71 стр. 3
                        .footer__item
                            a(href="mailto:mcu@mcu.expert") mcu@mcu.expert
                        .footer__item
                            a(href="tel:+7(495)198-11-01") +7 (495) 198-11-01
                .footer__policy
                    a(href="/agreement/") Политика конфиденциальности
    .footer__bottom
        .container
            .footer__copy © 2023 Обучение и консалтинг медицинского менеджмента
            .footer__company ООО "Медицинский корпоративный университет"
