.footer {
  background-color: var(--color-black);
  color: var(--color-white);

  &__top {
    padding: 80px 0;
    @include md-block {
      padding: 40px 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'logo menus form'
                          'contacts menus form'
                          'contacts menus policy';
    gap: 60px 20px;
    @include lg-block {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'logo form'
                          'contacts form'
                          'contacts policy';
    }
    @include md-block {
      grid-template-areas: 'logo logo' 'contacts form' 'policy policy';
    }
    @include sm-block {
      grid-template-columns: 100%;
      grid-template-areas: 'logo' 'form' 'contacts' 'policy';
    }
  }

  &__logo {
    grid-area: logo
  }

  &__menus {
    grid-area: menus;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include lg-block {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    a {
      @include ui-menu-item;
      @include tr;

      @include hover {
        color: var(--color-red);
      }
    }
  }

  &__form {
    grid-area: form;
  }

  &__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__sub {
    @include ui-menu-item;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 25ch;
  }

  &__item {
    @include ui-descriptor-18;
    @include tr;
    @include hover {
      color: var(--color-red);
    }

  }

  &__policy {
    grid-area: policy;
    font-size: 18px;
    @include tr;

    @include xlg-block {
      font-size: 16px;
    }
    @include md-block {
      text-align: center;
    }

    @include hover {
      color: var(--color-red);
    }
  }

  &__bottom {
    background-color: var(--color-red2);
    padding: 20px 0;
    font-weight: 700;
    font-size: 18px;
    @include xlg-block {
      font-size: 16px;
    }
    @include sm-block{
      text-align: center;
      padding: 40px 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include md-block {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
      @include sm-block{
          gap: 20px;
      }
    }
  }

  &__copy {
    @include md-block {
      order: 1;
    }
  }

}