-
    var GLOBALS = {
        menu: [
            {
                name: 'О нас',
                href: '/about/',
                submenu: [
                    {
                        name: 'История компании',
                        href: '/about/history/',
                    },
                    {
                        name: 'Преподаватели',
                        href: '/about/teachers/',
                    },
                    {
                        name: 'Кафедры',
                        href: '/about/chairs/',
                    },
                    {
                        name: 'Лицензии',
                        href: '/about/licenses/',
                    },
                    {
                        name: 'Отзывы',
                        href: '/about/reviews/',
                    },
                    {
                        name: 'Наши клиенты',
                        href: '/about/clients/',
                    },
                    {
                        name: 'Портфолио / Кейсы',
                        href: '/about/portfolio/',
                    }
                ]
            },
            {
                name: 'Гарантии',
                href: '/guarantees/',
            },
            {
                name: 'Курсы',
                href: '#',
                submenu: [
                    {
                        name: 'Системное управление клиникой',
                        href: '/courses/course/',
                    },
                    {
                        name: 'Открой клинику мечты',
                        href: '/courses/course/',
                    },
                    {
                        name: 'Обучение врачей',
                        href: '/courses/course/',
                    },
                    {
                        name: 'Обучение Администраторов',
                        href: '/courses/course/',
                    },
                    {
                        name: 'Обучение медицинских сестер',
                        href: '/courses/course/',
                    },
                    {
                        name: 'Обучение врачей',
                        href: '/courses/course/',
                    },
                    {
                        name: 'Системное управление клиникой',
                        href: '/courses/course/',
                    }
                ]
            },
            {
                name: 'Аутсорсинг',
                href: '/outsourcing/',
            },
            {
                name: 'Консалтинг',
                href: '/consulting/',
            },
            {
                name: 'Видеотека',
                href: '/video/',
            },
            {
                name: 'Магазин',
                href: '/shop/',
            },
            {
                name: 'Подарки',
                href: '/gifts/',
            },
            {
                name: 'Новости',
                href: '/news/',
            },
        ],
        advantages: [
            {
                num: '300+',
                txt: 'Корпоративных клиентов'
            },
            {
                num: '7 лет',
                txt: 'Обучаем эффективному менеджменту в медицине'
            },
            {
                num: '+30%',
                txt: 'Рост прибыли клиник в течение 3-6 месяцев'
            }
        ],
        test: '123'
    };