.course-tariffs
    .course-tariffs__title= data.title
    .course-tariffs__list
        each i in data.list
            .course-tariffs__item.course-tariff
                .course-tariff__iframe.
                    <div class="form-popup form-popup--pay" style="overflow: hidden; height: 589px;"> <iframe src="https://medicalcorporateuniversity.getcourse.ru/pl/lite/widget/widget?&amp;id=524367&amp;ref=http%3A%2F%2Fuser1561.teh-webcomp.ru%2Fcourses%2Fsobstvennikam%2F&amp;loc=http%3A%2F%2Fuser1561.teh-webcomp.ru%2Fcourses%2Fsobstvennikam%2Fsistemnoe-upravlenie-klinikoy%2F" allowfullscreen="allowfullscreen" class="28" id="97a41e585b87d698640e3fdef5ce29c9a38e57ae_28" name="28" style="width: 100%; height: 589px; border: none; overflow: hidden;"></iframe></div>
                .course-tariff__top
                    .course-tariff__sub ПАКЕТ
                    .course-tariff__title= i.name
                    .course-tariff__list
                        ul
                            each li in i.ul
                                li!=li
                    //.course-tariff__desc Книга «Эффективная бизнес-модель современной клиники» в подарок!
                .course-tariff__bottom
                    if i.price
                        .course-tariff__price= i.price
                    //form(action='/php/getForm.php' method='post' data-event='submit.openForm').course-tariff__btn
                    //    input(type='hidden' name='name' value='course')
                    //    button(type='submit') Записаться на курс
                    .course-tariff__btn
                        button(type="submit" data-event="click.openPay") Записаться на курс
    if data.btn
        button(type="button" data-event="click.goTo" data-to=".course__tariffs").course-tariffs__btn= data.btn
