.course-tariffs
    .course-tariffs__title Тарифы
    .course-tariffs__list
        -
            var data=[
                {
                    name: 'САМОСТОЯТЕЛЬНЫЙ',
                    ul: [
                        'Доступ к 150 видео урокам на 6 месяцев',
                        'Домашние задания',
                        'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                        'Участие в сообществе управленцев',
                        'Диплом об обучении,'
                    ],
                    price: '99 000 ₽'
                },
                {
                    name: 'С КУРАТОРОМ',
                    ul: [
                        'Доступ к 150 видео урокам на 6 месяцев',
                        'Домашние задания',
                        'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                        '6 «живых» вебинаров по темам курса',
                        'Участие в сообществе управленцев',
                        'Сопровождение куратора бизнес - практика',
                        'Пакет <a href="/">стандартов и регламентов</a>',
                        'Диплом об обучении',
                    ],
                    price: '150 000 ₽'
                },
                {
                    name: 'С ВНЕДРЕНИЕМ',
                    ul: [
                        'Доступ к 150 видео урокам на 6 месяцев',
                        'Домашние задания',
                        'Стартовая и заключительная консультация по разбору бизнеса с ТОП - экспертом',
                        '6 «живых» вебинаров по темам курса',
                        'Участие в сообществе управленцев',
                        'Сопровождение куратора бизнес - практика, выезд в клинику – по запросу',
                        'Пакет <a href="/">стандартов и регламентов</a>, адаптированный к вашей клинике',
                        'Диплом об обучении'
                    ],
                    price: '360 000 ₽'
                }
            ];
        each i in data
            .course-tariffs__item.course-tariff
                .course-tariff__top
                    .course-tariff__sub ПАКЕТ
                    .course-tariff__title= i.name
                    .course-tariff__list
                        ul
                            each li in i.ul
                                li!=li
                    .course-tariff__desc Книга «Эффективная бизнес-модель современной клиники» в подарок!
                .course-tariff__bottom
                    .course-tariff__price= i.price
                    form(action='/php/getForm.php' method='post' data-event='submit.openForm').course-tariff__btn
                        input(type='hidden' name='name' value='course')
                        button(type='submit') Записаться на курс