@use "sass:math";
.course-tariffs {
  display: flex;
  flex-direction: column;

  &__title {
    @include ui-heading-2;
    text-align: center;
  }

  &__list {
    margin-top: 45px;
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -20px;
    margin-right: -20px;

    @include xlg-block {
      margin-left: -10px;
      margin-right: -10px;
    }
    @include md-block {
      display: flex;
      flex-wrap: nowrap;
      justify-content: initial;
      overflow: auto;
      margin-left: calc(0px - var(--offset));
      margin-right: calc(0px - var(--offset));
      padding: 0 var(--offset);
      gap: 20px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    @include sm-block {
      gap: 10px;
    }
  }

  &__item {
    width: calc(100%/3 - 40px);
    margin-left: 20px;
    margin-right: 20px;
    @include xlg-block {
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100%/3 - 20px);
    }
    @include md-block {
      margin-left: 0px;
      margin-right: 0px;
      width: 387px;
      flex-shrink: 0;
    }
    @include sm-block {
      width: 310px;
    }
  }

  &__btn{
    @include ui-btn-fill;
    align-self: center;
    margin-top: 70px;
  }
}

.course-tariff {
  background-color: var(--color-grey-bg);
  border-radius: 20px;
  padding: 55px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  @include xlg-block {
    padding: 40px 20px;
  }
  @include sm-block {
    padding: 30px 15px;
  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__img{
    margin: -55px -30px 20px;
    position: relative;
    @include xlg-block{
      margin-top: -40px;
      margin-left: -20px;
      margin-right: -20px;
    }
    @include sm-block{
      margin-top: -30px;
      margin-left: -15px;
      margin-right: -15px;
    }

    &:before{
      content: '';
      display: block;
      padding-top: math.percentage(math.div(320,480));
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top {
    flex-grow: 1;
    padding-bottom: 40px;
    @include xlg-block {
      padding-bottom: 20px;
    }
    @include sm-block {
      padding-bottom: 15px;
    }
  }

  &__sub {
    font-size: 20px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    color: var(--color-red);
    @include xlg-block {
      font-size: 24px;
    }
    @include lg-block {
      font-size: 20px;
    }
  }

  &__list {
    margin-top: 30px;
    @include xlg-block {
      margin-top: 20px;
    }

    ul {
      list-style: disc;
      display: grid;
      line-height: 195%;
      padding-left: 30px;
      font-size: 18px;
      @include xlg-block {
        font-size: 16px;
        padding-left: 25px;
        line-height: 1.6;
      }

    }

    a {
      text-decoration: underline;
      @include hover {
        color: var(--color-red);
      }
    }
  }

  &__desc {
    margin-top: 25px;
    font-size: 18px;
    line-height: 160%;
    @include xlg-block {
      margin-top: 40px;
      font-size: 16px;
    }
    @include sm-block {
      margin-top: 20px;
    }
  }

  &__content{

    margin-top: 15px;
    p{
      font-size: 18px;
    }
  }



  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    @include xlg-block {
      gap: 10px;
    }
  }

  &__price {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    //color: var(--color-red);
    @include lg-block {
      font-size: 40px;
    }
    @include sm-block {
      font-size: 36px;
    }
  }

  &__btn {


    button {
      @include ui-btn-border;
      @include lg-block {
        font-size: 16px;
      }
    }
  }
}
