.course-ul {

  &__title {
    margin-bottom: 80px;
    text-align: center;
    @include lg-block {
      margin-bottom: 55px;
    }
    @include md-block {
      font-size: 46px;
      margin-bottom: 40px;
    }
  }

  ul {
    @include ui-ul-checkbox;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 60px;
    font-size: 32px;
    @include xlg-block {
      font-size: 24px;
      gap: 35px 20px;
    }
    @include lg-block {
      font-size: 20px;
    }
    @include sm-block {
      grid-template-columns: 100%;
      gap: 25px;
    }

    li {
      padding-left: 90px;
      @include xlg-block {
        padding-left: 60px;
      }

      &:before {
        width: 34px;
        height: 34px;
        @include xlg-block {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
