.news {
  padding-bottom: var(--offset-bottom);

  &__years {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__year {
    white-space: nowrap;
    font-weight: 700;
    padding: 18px 48px;
    background-color: var(--color-grey-bg);
    border-radius: 6px;
    text-transform: uppercase;
    @include tr;

    @include hover{
      color: var(--color-red);
    }

    &.active {
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }

  &__grid {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 40px;
  }

  &__left {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  &__item {
  }

  &__right {
  }

  &__menu {
    background-color: var(--color-grey-bg);
    border-radius: 6px;
    padding: 10px 35px;
  }

  &__link {
    padding: 20px 0;
    display: block;
    font-size: 18px;
    border-bottom: 1px solid var(--color-grey);
    @include tr;

    @include hover {
      color: var(--color-red);
    }

    &:last-child {
      border-color: transparent;
    }
  }

  &__tags {
    @include ui-tag-list;
    margin-top: 40px;
  }

  &__tag{
    @include ui-tag;
  }

}