
<div class="course-authors">
  <div class="course-authors__item course-author">
    <div class="course-author__left">
      <div class="course-author__prof">Автор</div>
      <div class="course-author__name">Ольга Берестова</div>
      <div class="course-author__title">В МЕДИЦИНСКОМ БИЗНЕСЕ С 2003 ГОДА</div>
      <div class="course-author__desc">Врач акушер-гинеколог, кандидат медицинских наук, обладатель степени excecutive емва, входит в топ-100 генеральных директоров россии. собственник и генеральный директор ведущего медицинского холдинга южно-уральского округа</div>
    </div>
    <div class="course-author__right">
      <div class="course-author__img"><img src="/images/content/course-authors/1.webp" alt="Ольга Берестова"/></div>
    </div>
  </div>
  <div class="course-authors__item course-author">
    <div class="course-author__left">
      <div class="course-author__prof">Тренер</div>
      <div class="course-author__name">Анастасия Удилова</div>
      <div class="course-author__title">В МЕДИЦИНСКОМ БИЗНЕСЕ С 2003 ГОДА</div>
      <div class="course-author__desc">Кандидат медицинских наук, нейрокоуч, врач ультразвуковой диагностики, оперирующий хирург, онколог</div>
    </div>
    <div class="course-author__right">
      <div class="course-author__img"><img src="/images/content/course-authors/2.webp" alt="Анастасия Удилова"/></div>
    </div>
  </div>
  <div class="course-authors__item course-author">
    <div class="course-author__left">
      <div class="course-author__prof">Тренер</div>
      <div class="course-author__name">Ольга Буренкова</div>
      <div class="course-author__title">ВЕДУЩИЙ БИЗНЕС-ТРЕНЕР ФЕДЕРАЛЬНОГО МЕДИЦИНСКОГО ХОЛДИНГА</div>
      <div class="course-author__desc">Эксперт по повышению прибыльности клиник через повышение квалификации персонала</div>
    </div>
    <div class="course-author__right">
      <div class="course-author__img"><img src="/images/content/course-authors/3.webp" alt="Ольга Буренкова"/></div>
    </div>
  </div>
</div>