.course-training {

  &__title {
    text-align: center;
    margin-bottom: 110px;
    @include lg-block {
      margin-bottom: 50px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 40px;
    @include lg-block {
      gap: 60px 20px;
    }
    @include sm-block {
      grid-template-columns: 100%;
    }
  }

  &__item {
    display: grid;
    justify-items: center;
    gap: 40px;
    align-content: start;
    @include lg-block {
      gap: 30px;
    }
    @include md-block {
      gap: 25px;
    }
  }

  &__item-img {
    width: 370px;
    height: 370px;
    padding: 27px;
    border-radius: 50%;
    border: 2px solid var(--color-red);
    @include lg-block {
      width: 295px;
      height: 295px;
      padding: 21px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__item-title {
    text-align: center;
    @include lg-block {
      font-size: 36px;
    }
    @include md-block {
      font-size: 24px;
    }
  }

  &__item-date {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    @include md-block {
      font-size: 24px;
    }
  }

  &__item-content {
    font-size: 24px;
    display: grid;
    gap: 20px;
    @include lg-block {
      font-size: 20px;
    }
    @include md-block {
      font-size: 16px;
    }
  }

}