.index {
  padding-bottom: var(--offset-bottom);


  &__section {
    overflow: hidden;
  }

  &__courses {
    @include margin-top(10);
  }

  &__advantages {
    @include margin-top(10);
  }

  &__about {
    @include margin-top(10);
    @include sm-block {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__popular {
    @include margin-top(10);
  }

  &__profile {
    @include margin-top(10);
  }

  &__news {
    @include margin-top(10);
  }

  &__video {
    @include margin-top(10);
  }

  &__reviews {
    @include margin-top(10);
  }

  &__partners {
    @include margin-top(10);
  }
}