div(class=data.type style=`background-image:url(${data.img})`).banner
    .container
        .banner__container
            .banner__wrap
                .banner__bread
                    - var bread = data.bread
                    include ../bread/index
                .banner__content!= data.content
            if data.advantages
                .banner__advantages
                    include ../banner-advantages/index
