.teacher{
  padding-top: 0;

  &__top{
    padding-top: 90px;
    background-color: var(--color-grey-bg);
    padding-bottom: 165px;
  }

  &__grid{
    display:grid;
    grid-template-columns: 610px 1fr;
    gap: 170px;
  }

  &__desc{
    font-size: 20px;
  }

  &__items{
    margin-top: 40px;

    display:grid;
    gap: 45px;
  }

  &__item{
    display:grid;
    gap: 20px;
  }

  &__name{
    font-weight: 800;
    font-size: 18px;
  }

  &__content{
    @include ui-descriptor-18;
    display:grid;
    gap: 10px;
  }

  &__licenses{
    margin-top: 100px;
  }

  &__courses{
    margin-top: 100px;
  }
}